.heading {
	display: flex;
	justify-content: space-between;

	width: 100%;

	.top-right {
		height: 1.625rem;

		display: grid;
		align-content: center;

		&:empty {
			display: none;
		}
	}

	h2 {
		font-size: 0.9rem;
		line-height: 1.625rem;
		font-weight: 600;
		margin: 0;
	}

	button {
		background-color: transparent;
	}
}

.heading + div {
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	color: var(--rcc-text-light);
}

> div {
	display: flex;
	justify-content: space-between;

	width: 100%;

}