<ng-template>
	<div
		class				=	"title"
		[attr.aria-label]	=	"glossaryEntry.title"
	>
		{{ glossaryEntry.title }}
	</div>

	<div
		class				=	"content"
		aria-hidden			=	"true"
	>
		{{ glossaryEntry.content }}
	</div>
</ng-template>
