div {
	font-size: 0.9rem;
	line-height: 140%;
	font-family: var(--font-family-secondary);
}

.title {
	font-weight: bold;
}

.content {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
