<rcc-slide>
	<rcc-card
		heading="{{'DAY_QUERIES.QUERY_RUN.COUNT_TODAY_ANSWERS' | translate : {count: doneSelectedDate, total: totalSelectedDate} }}"
		colorCategory	= "analyze">

		<span preHeading>
			<span
				*ngIf	= "!allDoneSelectedDate"
				[id]	= "'DAY_QUERIES.QUERY_RUN.ALMOST_DONE' | toID:'rcc-e2e'"
				class	= "done-text"
			>
				{{'DAY_QUERIES.QUERY_RUN.ALMOST_DONE' 	| translate}}
			</span>
			<span
				*ngIf	= "allDoneSelectedDate"
				[id]	= "'DAY_QUERIES.QUERY_RUN.ALL_DONE' | toID:'rcc-e2e'"
				class	= "done-text"
			>
				{{'DAY_QUERIES.QUERY_RUN.ALL_DONE' 	| translate}}
			</span>
		</span>

		<div
			*ngIf = "!allDoneSelectedDate"
		>
			<p
				class	= "go-back-text"
				[id]	= "'DAY_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | toID:'rcc-e2e'">
				{{'DAY_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | translate }}
			</p>
		</div>

		<div
			*ngIf = "allDoneSelectedDate"
		>
			<p
				class	= "go-back-text"
				[id]	= "'DAY_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | toID:'rcc-e2e'">
				{{'DAY_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | translate }}
			</p>
		</div>

		<div class="button-div">

			<rcc-action-button
				class			= "done-button"
				buttonSize		= "medium"
				[action]		= "doneAction"
				[id]		= "'DAY_QUERIES.QUERY_RUN.DONE' | toID:'rcc-e2e'"
			>
				{{'DAY_QUERIES.QUERY_RUN.DONE' | translate }}
			</rcc-action-button>

			<rcc-action-button
				*ngIf = "!allDoneSelectedDate"
				class = "first-question-button"
				buttonSize="medium"
				[action] = "answerRemainingQuestionsAction"
				[id]	= "'DAY_QUERIES.QUERY_RUN.ANSWER_QUESTONS' | toID:'rcc-e2e'"
			></rcc-action-button>

			<button
				*ngIf = "allDoneSelectedDate"
				colorCategory="create"
				(click)	= "changeAnswers.emit()"
				[id]		= "'DAY_QUERIES.QUERY_RUN.CHANGE_ANSWERS' | toID:'rcc-e2e'"
				class		= "change-answers-button"
			>{{'DAY_QUERIES.QUERY_RUN.CHANGE_ANSWERS' | translate }}</button>

		</div>

	</rcc-card>
</rcc-slide>

