:host {
	overflow-y: auto;
	height: 100%;

	main {
		position: relative;
	}

	.container {
		max-width: var(--rcc-content-width);
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: auto 1fr;

		header {
			padding: 1rem;

			.header-bar  {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 5rem;
			}

			.header-bar.has-sub-heading-flexbox {
				align-items: flex-start;

			}

			.header-bar.button-end {
				flex-direction: row-reverse;
			}

			.header-bar.button-start {
				flex-direction: row;
			}
		}

		.heading {

			margin-bottom: .625rem;

			.main-heading {
				margin-bottom: 0.5rem;
				text-align: left;
			}
			.has-sub-heading {
				margin-bottom: -0.5rem;
			}

			h1 {
				width: fit-content;
				font-weight: 700;
				font-size: 1rem;
			}

			.sub-heading {
				font-weight: 400;
				font-size: .8rem;
				font-family: var(--font-family-secondary);
			}
		}

		button {
			background: transparent;
			--icon-stroke: var(--main);
			align-self: center;
		}

		button:hover {
			--icon-stroke: var(--main-highlight);
		}


		main {
			background: linear-gradient(var(--supp-start), var(--supp-end));
			overflow: auto;
			padding: var(--main-padding, 1rem);

			.main-content-description {
				margin-bottom: 1rem;
				font-size: .9rem;
				color: var(--rcc-text-light);
			}
		}
	}
}
