<rcc-card
	[ngClass]				= "{'selected':selected}"
	[primaryAction]			= "primaryAction"
	[primaryActionInert]	= "mode === 'select'"
	[primaryIcon]			= "hasExactlyOneAction && primaryAction.icon"
	[secondaryAction]		= "secondaryAction"
	(keyup.Enter)			= "hasExactlyOneAction ? onClick() : null"
	(keydown.Space)			= "handleSpace($event)"
	(click)					= "onClick()"
	[attr.aria-checked]		= "selected ?? null"
	[attr.role]				= "mode === 'select' ? 'checkbox' : hasExactlyOneAction ? 'button' : null"
	[attr.title]			= "hasExactlyOneAction ? (actions[0].label | translate) : null"
	[attr.tabindex]			= "mode === 'select' ? 0 : hasExactlyOneAction ? 0 : -1"
>
	<div class="icon-and-text">
		<div class="icon">
			<rcc-icon
				*ngIf	=	"itemRepresentation?.icon"
				[name]	=	"itemRepresentation?.icon"
			></rcc-icon>
		</div>
		<div
			class	=	"label {{ itemRepresentation?.cssClass || '' }}">

			<ng-container
				*ngIf						= "itemLabelTemplate"
				[ngTemplateOutlet] 			= "itemLabelTemplate"
			>
			</ng-container>

			<ng-container
				*ngIf						= "!itemLabelTemplate && itemRepresentation?.labelComponent"
				[ngComponentOutlet] 		= "itemRepresentation?.labelComponent"
				[ngComponentOutletInjector]	= "itemLabelInjector"
			></ng-container>

			<ng-content></ng-content>

		</div>
	</div>
</rcc-card>
