 <rcc-full-page colorCategory="create">

	 <div headingContent>
		<nav
			headerContent
			[ngClass]			= "{'calendar-open' : showCalendar}"
			class 				= "ion-horizontal-padding"
			[attr.aria-label]	= "'DAY_QUERIES.QUERY_RUN.NAVIGATION_HEADER.LABEL' | translate"
		>
			<rcc-date-picker
				[formControl]="dateControl"
				[latest]="endDate"
				[earliest]="startDate"
				[labels]="dayLabels"
			></rcc-date-picker>

		</nav>

	 </div>

	<div mainContent class="background">

		<rcc-query-run
			[queryControls] = "currentQueryControls"
			(cancel)		= "onCancel()"
			(done)			= "onDone()"
			[autosave]		= "true"
		>

			<all-done-slide
				[allDoneSelectedDate]	=	"allDoneSelectedDate"
				[doneSelectedDate]		=	"doneSelectedDate"
				[totalSelectedDate]		=	"totalSelectedDate"
				(answerQuestions)		=	"answerRemainingQuestions()"
				(changeAnswers)			=	"changeAnswers()"
			></all-done-slide>

		</rcc-query-run>
	</div>
 </rcc-full-page>
