:host::part(scroll) {
	display:			flex;
	flex-direction:		column;
}

rcc-full-page ::ng-deep main {
	margin-left: calc(var(--rcc-padding) * -1);
	margin-right: calc(var(--rcc-padding) * -1);
	margin-bottom: calc(var(--rcc-padding) * -1);
}

rcc-slider {
	flex:				1 0 0;
	width:				100%;
}

rcc-date-picker {
	max-width: 			22rem;
	width:				calc(100vw - 4rem);

	&::ng-deep .rcc-date-picker {
		max-width:			none;
	}
}

nav {
	display:			flex;
	justify-content:	space-between;
	align-items: 		center;
}


nav > rcc-pagination {
	flex:				1 1 auto;
}

nav > rcc-calendar-sheet {
	padding:			0.5em;
	cursor: 			pointer;

	border-bottom-right-radius	: 0;
	border-top-left-radius		: 0;
	border-top-right-radius		: 0;
}

nav > rcc-calendar {
	flex: 				0 0 0;
	overflow: 			auto;
	padding-top: 		0.5em;
	width: 				0;
	animation: 			calendarOut 500ms linear;
}

nav.calendar-open > rcc-calendar-sheet {
	z-index: 			100;
	box-shadow: 		0 0 0.5em 0 rgba(0,0,0,1);
}

nav.calendar-open > *:not(rcc-calendar, rcc-calendar-sheet){
	display: 			none;
}

nav.calendar-open > rcc-calendar{
	flex: 				1 0 0;

}

rcc-query-run{
	flex: 				1 0 auto;
}

rcc-query-widget {
	height:				100%
}

#wrap-up-slide {
	display:			flex;
	flex-direction:		column;
	justify-content:	stretch-start;
}


#wrap-up-slide article {
	display: 			flex;
	align-items: 		center;
	justify-content: 	center;
	flex-wrap: 			wrap;
}

#wrap-up-slide article > rcc-calendar-sheet {
	flex: 				0 0 auto;
	margin-right: 		1em;
}

#wrap-up-slide article > rcc-calendar-sheet + * {
	flex: 				1 0 50%;
}

#wrap-up-slide article > p {
	flex: 				0 0 100%;
}

.spacer {
	flex:				0 1 10rem;
}

.fab-footer {
	display:			flex;
	position:			fixed;
	left:				calc(10px + var(--ion-safe-area-left, 0px));
	right:				calc(10px + var(--ion-safe-area-left, 0px));
	bottom:				10px;
	justify-content:	space-between;
	z-index:			100;
}

.fab-footer > * {
	display:			flex;
	flex:				0 0 auto;
}

.background {
	background-color:	var(--supp);
	padding:			1.5rem 0;
	height:				100%;
}
