/* .quick-action-card {
	padding: 				1rem 0;
	box-sizing: 			border-box;
	line-height:			.875rem;
	--background-color:		#FFF;
	--font-size: 			1rem;
	min-height:				7rem;
	background-color: 		var(--background-color);
	border-radius: 			.5rem;
	box-shadow:				0 .25rem .25rem 0 rgba(0, 0, 0, .25);
	border:					1px solid #0E0E0E;
} */

button {
	display:			flex;
	position: 			absolute;
	right:				1.25rem;
	background-color:	transparent;
}
.quick-action {
	margin-top:			1rem;
	font-family: 		var(--font-family-secondary);
	line-height:		calc(2 * calc(var(--font-size)));
	--font-size: 		.9rem;
	font-size:			var(--font-size);
	display: 			flex;
	flex-direction: 	column;
	justify-content:	center;
	box-sizing:			content-box;
	margin: 			0 1.25rem;
	padding-top: 		0;
	max-width:			100%;
}

.quick-action:hover rcc-icon {
	/* --icon-fill: 		var(--foreground-hover); TODO: RccColorService CURRENTLY NOT WORKING; HAS TO BE FIXED */
	--icon-fill: 		#BD5A1C;
	stroke: 			#BD5A1C !important;
}

.quick-action + .quick-action {
	margin-top: 		.875rem;
}

.quick-actions-entry {
	display:				flex;
	flex-direction:			column;
	justify-content:		space-around;
}

rcc-quick-action-list {
	display:				flex;
	flex-direction:			column;
	justify-content:		space-around;

}
