<rcc-full-page
	[bannerMarkdown] 	= "(rccBannerService | async)?.markdown | translate"
	[bannerColor]		= "(rccBannerService | async)?.color"
>
	<span headingContent>
		<rcc-home-page-greeting></rcc-home-page-greeting>
	</span>

	<section mainContent>
		<ng-container
			*ngFor 	= "let entry of activeEntries$ | async"
		>
			<rcc-action-button
				*ngIf 				= "isAction(entry)"
				[action]			= "entry"
				buttonSize			= "full"
			></rcc-action-button>

			<rcc-standalone-item-tag
				*ngIf 				= "isItemEntry(entry)"
				[item]				= "entry.item"
				[itemActionRoles]	= "entry.itemActionRoles"
			>

			</rcc-standalone-item-tag>
		</ng-container>
	</section>

</rcc-full-page>
