@import 'bengal/mixins/breakpoints';

section {
	display: grid;
	grid-template-columns: auto;
	gap: 1rem;
	width: 100%;
	max-width: var(--rcc-content-width);
	align-self: center;
	padding-bottom: 1.38rem;

	@include desktop {
		grid-template-columns: 1fr 1fr;
	}
}
