h1 {
	font-family: var(--font-family-primary);
	font-size: .8rem;
	margin-bottom: 1.5rem;
}

h2, b {
	font-weight: 600;
}

h2, p, a {
	font-family: var(--font-family-secondary);
	font-size: .8rem;
}

.contact-links {
	line-height: .5;
	color: var(--main);
}
.crisis-links ::ng-deep a {
	color: var(--main);
	text-decoration: none;
}

a {
	display: inline;
	text-decoration: none;
	color: var(--rcc-text-dark);
}

.discreet-link {
	color: var(--rcc-text-dark);
	text-decoration: underline var(--rcc-text-dark) .0313rem;
}

.imprint-contact-links {
	display: block;
}

.email-link {
	color: var(--main);
}


footer {
	padding: 1rem;
}

section {
	display: block
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border: 1px solid black;
	font-weight:400;
}

th {
	background-color: #FFF;
}

th:nth-child(2) {
	vertical-align: top;
}

.colored-link {
	color: var(--main);
}
