:host {
	display:			block;
}

:host > div {
	background: 		var(--supp);
	padding:			1rem;
}


.flex-container {
	display:			flex;	
	flex-direction: 	row;
	justify-content:	center;
}


.icon-and-text {
	display:			flex;
	flex:				1 1 18rem;
	flex-wrap:			wrap;
	font-family: 		var(--font-family-secondary);
	align-items:		center;
	box-sizing:			border-box;
}

.icon-and-text .icon {
	padding:			1rem;
	box-sizing:			border-box;
	margin-right: 		max(0rem, calc(5vw - 1rem) );	
}

.icon-and-text label {
	padding:			1rem 0;	
	box-sizing:			border-box;
	margin-left: 		1rem;	
	flex:				1 1 10rem;
}

.actions {
	display:			flex;	
	flex:				0 1 auto;
	align-items:		center;
	justify-content:	flex-end;
	flex-wrap:			wrap;
}

.actions rcc-action-button {
	margin:				1rem;
	transform:			scale(1.2);
}

.simple .flex-container {
	flex-wrap:			wrap;
}

.simple .actions rcc-action-button {
	transform:			scale(1)	
}
