<rcc-current-date-message class="context">
    {{ contextText }}
</rcc-current-date-message>

<div class="modal-content">
    <div class="content">
        <div aria-live="polite">{{ mainText }}</div>

        <rcc-action-button
            [buttonSize]="showButton ? 'full' : 'none'"
            [action]="action"
        ></rcc-action-button>
    </div>

    <rcc-button (clickEvent)="cancelClick.emit()" colorCategory="receive">{{ 'CANCEL' | translate }}</rcc-button>
</div>
