<ion-header>
	<ion-toolbar>
		<ion-label
			class	= "ion-padding-start"
			slot	= "start"
		>
			<h1 [id]	= "'REPORT' | toID:'rcc-e2e'">{{report.label || ('REPORT'|translate )}}</h1>
			<p [id]		= "'report-basic-view-date' | toID:'rcc-e2e'">{{report.date | translate}}</p>
		</ion-label>
		<ion-button
			slot 	= "end"
			(click) = "close()"
			color	= "primary"
			fill	= "clear"
		>
			<rcc-icon name = "close"></rcc-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content
	*ngIf 		= "report"
	[scrollX]  	= "false"
	[scrollY]  	= "false"
>

	<ion-item color = "primary">

		<ion-label
				position	= "stacked"
				[class]		= "'REPORT_BASIC_VIEW.PRIMARY_DATA' | toID:'rcc-e2e'"
			>
				{{'REPORT_BASIC_VIEW.PRIMARY_DATA' | translate}} </ion-label>

		<ion-select
			interface			= "action-sheet"
			[formControl]		= "primaryDatasetFormControl"
		>
			<ion-select-option
				[value]		= "null"
				[class]		= "'REPORT_BASIC_VIEW.NO_SELECTION' | toID:'rcc-e2e'"
			>
				{{'REPORT_BASIC_VIEW.NO_SELECTION' | translate}}
			</ion-select-option>

			<ion-select-option
				*ngFor 	= "let dataset of datasets"
				[value]	= "dataset"
				[class]	= "'report-basic-view-dataset' | toID:'rcc-e2e'"
			>
				{{ dataset.question | translate }}
			</ion-select-option>
		</ion-select>


	</ion-item>


	<rcc-widget
		*ngIf				= "dataViewControl"
		[widgetControl] 	= "dataViewControl"
	>
	</rcc-widget>


	<ion-item color = "secondary">

		<ion-label
				position	= "stacked"
				[id]		= "'REPORT_BASIC_VIEW.SECONDARY_DATA' | toID:'rcc-e2e'"
			>
				{{'REPORT_BASIC_VIEW.SECONDARY_DATA' | translate}} </ion-label>

		<ion-select
			interface			= "action-sheet"
			[formControl]		= "secondaryDatasetFormControl"
		>
			<ion-select-option
				[value] = "null"
				[id]	= "'REPORT_BASIC_VIEW.NO_SELECTION' | toID:'rcc-e2e'"
			>
				{{'REPORT_BASIC_VIEW.NO_SELECTION' | translate}}
			</ion-select-option>

			<ion-select-option
				*ngFor 	= "let dataset of datasets"
				[value]	= "dataset"
				[id]	= "'report-basic-view-dataset' | toID:'rcc-e2e'"
			>
				{{ dataset.question | translate }}
			</ion-select-option>
		</ion-select>


	</ion-item>




</ion-content>
