<rcc-slider>

	<rcc-slide
		*ngFor		= "let dateString of dateStrings; index as index"
	>
		<rcc-calendar-sheet
			[dateString] 	= "dateString"
			[ticks]		 	= "tickConfig[dateString]"
			[color]			= "dateString === dateControl.value ? highlight : color"
			(click)			= "selectDate(dateString)"
		>
		</rcc-calendar-sheet>
		<!-- <div
			[ngClass]	= "{'weekend': date.weekend}"
		>
			<div class = "day">			{{date.day}}						</div>
			<div class = "month">		{{date.dayOfWeek}} / {{date.month}}	</div>
		</div>
 -->
	</rcc-slide>
</rcc-slider>
