
rcc-slider {
	min-height: 		100%;
	display: 			flex;
	align-items: 		flex-start;
	padding-bottom: 	calc( var(--ion-padding, 1em) / 2);
}

rcc-slide {
	flex: 				0 0 auto;
	scroll-snap-stop: 	normal;
	padding-right: 		0.5rem;
	padding-left: 		0.5rem;
	margin: 			0 !important;
	overflow: 			visible;
}

:host.snap-start rcc-slide {
	scroll-snap-align: 	start;
}

:host.snap-center rcc-slide {
	scroll-snap-align: 	center;
}

:host.snap-end rcc-slide {
	scroll-snap-align: 	end;
}

rcc-calendar-sheet {
	cursor: 			pointer;
}
