<div class="header">
	<rcc-icon name="information" size="small"></rcc-icon>
	<button [attr.aria-label]="'CLOSE' | translate" (click)="dismiss()">
		<rcc-icon name="close" size="small"></rcc-icon>
	</button>
</div>
<div class="content">
	<ng-container
		[ngComponentOutlet]="componentOutlet"
	></ng-container>
</div>
<button class="confirm-button" colorCategory="secondary" (click)="dismiss()">
	{{ 'SETTINGS_PAGE.MODAL.CONFIRM' | translate }}
</button>
