:host {
	padding: 1.25rem;
	width: calc(100vw - 1.25rem);
	max-width: calc(var(--rcc-content-width) - 1.25rem);
}

button {
	background-color: transparent;
}

.header {
	display: flex;
	justify-content: space-between;
}

.content {
	font-family: var(--font-family-secondary);
}

.confirm-button {
	color: var(--main);
	font-weight: 700;
	font-size: 1rem;
}
