<rcc-full-page [colorCategory]="'secondary'">

	<section mainContent>

		<rcc-scroll-to-top-button
			[colorCategory]	= "'secondary'"
		></rcc-scroll-to-top-button>

		<h1>
			{{'PRIVACY_POLICY.TITLE' | translate}}
			<br><br>
			<strong>{{'APP_NAME' | translate}} {{'PRIVACY_POLICY.VERSION' | translate}}</strong>
		</h1>

		<p>
			{{'PRIVACY_POLICY.DESCRIPTION' | translate}}<strong>{{'PRIVACY_POLICY.SERVICE' | translate}}</strong>{{'PRIVACY_POLICY.DESCRIPTION_2' | translate}}
			<br>
			<br>
			{{'PRIVACY_POLICY.DESCRIPTION_3' | translate}}
		</p>

		<h2>
			{{'PRIVACY_POLICY.RESPONSIBILITIES.TITLE' | translate}}
		</h2>
		<p>
			{{'PRIVACY_POLICY.RESPONSIBILITIES.CONTENT_1' | translate}}
		</p>
		<p>
			{{'PRIVACY_POLICY.RESPONSIBILITIES.ADDRESS.COMPANY' | translate}}
			<br>
			{{'PRIVACY_POLICY.RESPONSIBILITIES.ADDRESS.ADDRESS' | translate}}
			<br>
			{{'PRIVACY_POLICY.RESPONSIBILITIES.ADDRESS.POSTAL_CODE' | translate}}
			<br>
			<a class="email-link" [href]="'mailto:' + ('PRIVACY_POLICY.RESPONSIBILITIES.ADDRESS.EMAIL' | translate)">{{'PRIVACY_POLICY.RESPONSIBILITIES.ADDRESS.EMAIL' | translate }}</a>
			<br>
			<a class="imprint-contact-links discreet-link" [href]="'tel:' + ('PRIVACY_POLICY.RESPONSIBILITIES.ADDRESS.TELEPHONE' | translate)">{{'PRIVACY_POLICY.RESPONSIBILITIES.ADDRESS.TELEPHONE' | translate}}</a>

			<br>
		</p>
		<p>
			{{'PRIVACY_POLICY.RESPONSIBILITIES.CONTENT_2' | translate}}
			<a href="/imprint">{{'PRIVACY_POLICY.RESPONSIBILITIES.IMPRINT' | translate}}</a>

			{{'PRIVACY_POLICY.RESPONSIBILITIES.CONTENT_3' | translate}}
		</p>
		<h2>
			{{'PRIVACY_POLICY.PRIVACY_OFFICER.TITLE' | translate}}
		</h2>
		<p>
			{{'PRIVACY_POLICY.PRIVACY_OFFICER.CONTENT_1' | translate}}
		</p>
		<a class="discreet-link" [href]="'mailto:' + ('PRIVACY_POLICY.PRIVACY_OFFICER.EMAIL' | translate)">{{'PRIVACY_POLICY.PRIVACY_OFFICER.EMAIL' | translate }}</a>
		<br>
		<h2>{{'PRIVACY_POLICY.DATA_PROCESSINGS.TITLE' | translate}}</h2>
		<h3>{{'PRIVACY_POLICY.DATA_PROCESSINGS.PROCESSING_OF_DATA_YOU_ENTERED.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.PROCESSING_OF_DATA_YOU_ENTERED.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.DATA_PROCESSINGS.PROCESSING_IN_CASE_OF_CONTACT.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.PROCESSING_IN_CASE_OF_CONTACT.CONTENT' | translate}}</p>

		<h3>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.PURPOSE.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.PURPOSE.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.IMPRINT_BASIS.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.IMPRINT_BASIS.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.RECIPIENT.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.RECIPIENT.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.STORAGE_DURATION.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.STORAGE_DURATION.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.POSSIBILITY_OF_OBJECTION.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.POSSIBILITY_OF_OBJECTION.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.OBLIGATION_TO_PROVIDE_DATA.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.LOGFILES.OBLIGATION_TO_PROVIDE_DATA.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.PURPOSE.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.PURPOSE.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.IMPRINT_BASIS.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.IMPRINT_BASIS.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.RECIPIENT.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.RECIPIENT.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.STORAGE_DURATION.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.STORAGE_DURATION.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.POSSIBILITY_OF_OBJECTION.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.POSSIBILITY_OF_OBJECTION.CONTENT' | translate}}</p>
		<h4>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.OBLIGATION_TO_PROVIDE_DATA.TITLE' | translate}}</h4>
		<p>{{'PRIVACY_POLICY.DATA_PROCESSINGS.USAGE_ANALYSIS_MATOMO.OBLIGATION_TO_PROVIDE_DATA.CONTENT' | translate}}</p>
		<h2>{{'PRIVACY_POLICY.TRANSFER_TO_THIRD_COUNTRY.TITLE' | translate}}</h2>
		<p>{{'PRIVACY_POLICY.TRANSFER_TO_THIRD_COUNTRY.CONTENT' | translate}}</p>
		<h2>{{'PRIVACY_POLICY.STORAGE_DURATION_OF_PERSONAL_DATA.TITLE' | translate}}</h2>
		<p>{{'PRIVACY_POLICY.STORAGE_DURATION_OF_PERSONAL_DATA.CONTENT' | translate}}</p>
		<h2>{{'PRIVACY_POLICY.YOUR_RIGHTS.TITLE' | translate}}</h2>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_INFORMATION.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_INFORMATION.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_OF_RECTIFICATION.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_OF_RECTIFICATION.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_DELETION.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_DELETION.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_RESTRICTION_OF_PROCESSING.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_RESTRICTION_OF_PROCESSING.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_OF_DATA_PORTABILITY.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_OF_DATA_PORTABILITY.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_OF_OBJECTION.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_OF_OBJECTION.CONTENT_1' | translate}}</p>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_OF_OBJECTION.CONTENT_2' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.AUTOMATED_DECISION_MAKING.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.AUTOMATED_DECISION_MAKING.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_COMPLAIN_TO_SUPERVISORY_AUTHORITY.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.RIGHT_TO_COMPLAIN_TO_SUPERVISORY_AUTHORITY.CONTENT' | translate}}</p>
		<h3>{{'PRIVACY_POLICY.YOUR_RIGHTS.REVOCATION_OF_CONSENT_GIVEN.TITLE' | translate}}</h3>
		<p>{{'PRIVACY_POLICY.YOUR_RIGHTS.REVOCATION_OF_CONSENT_GIVEN.CONTENT' | translate}}</p>
		<h2>{{'PRIVACY_POLICY.LINKS_TO_THIRD_PARTY_WEBSITES.TITLE' | translate}}</h2>
		<p>{{'PRIVACY_POLICY.LINKS_TO_THIRD_PARTY_WEBSITES.CONTENT' | translate}}</p>
		<h2>{{'PRIVACY_POLICY.UPDATING_PRIVACY_NOTICE.TITLE' | translate}}</h2>
		<p>{{'PRIVACY_POLICY.UPDATING_PRIVACY_NOTICE.CONTENT' | translate}}</p>

	</section>

</rcc-full-page>
