<span colorCategory="primary">
	<div class="value-container">
		<span
			class="value"
			[ngStyle]="{ '--left': value + '%' }"
		>
			{{value}}
		</span>
	</div>
	<div class="input-container">
		<input
			type="range"
			[min]="queryControl.question.min"
			[max]="queryControl.question.max"
			[formControl]="queryControl.answerControl"
			[readOnly]="queryControl.formsDisabled"
			[attr.aria-label]="queryControl.question | translate"
			(click)="handleClick()"
		>
		<div class="fill-indicator-container">
			<svg
				viewBox="0 0 16 16"
				xmlns="http://www.w3.org/2000/svg"
				class="fill-indicator"
				[ngStyle]="{ '--left': value + '%'}"
				[ngClass]="{ 'has-value': value != null }"
			>
				<circle cx="8" cy="8" r="4" />
			</svg>
		</div>
	</div>
	<div class="labels">
		<span>{{ queryControl.question.min }}</span>
		<span>{{ queryControl.question.max }}</span>
	</div>
</span>
