:host {
	--thumb-height: 2rem;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	width: 100%;
	touch-action: none;

	&:not(:disabled) {
		cursor: pointer;
	}

	height: var(--thumb-height);
	display: flex;
	flex-direction: column;

	&::-webkit-slider-runnable-track {
		border-bottom: solid 1px;
		display: block;
		position: relative;
		bottom: calc(var(--thumb-height) / 2);
	}

	&::-moz-range-track {
		border-bottom: solid 1px;
		display: block;
		height: 0px;
	}

	&::-webkit-slider-thumb {
		// Reset
		-webkit-appearance: none;
		appearance: none;

		background-color: white;
		height: var(--thumb-height);
		width: var(--thumb-height);
		border-radius: var(--thumb-height);
		border: solid 1px;
		position: relative;
		top: calc(var(--thumb-height) / 2);
	}

	&::-moz-range-thumb {
		border: solid 1px;
		border-radius: var(--thumb-height);
		background-color: white;
		height: var(--thumb-height);
		width: var(--thumb-height);
	}
}

.input-container {
	position: relative;
}

.fill-indicator-container {
	height: 0;
}

.fill-indicator {
	fill: var(--main);
	height: var(--thumb-height);
	position: relative;
	left: var(--left);
	bottom: var(--thumb-height);
	transform: translateX(-50%);
	z-index: 1;
	pointer-events: none;
}

.fill-indicator:not(.has-value) {
	display: none;
}

.labels {
	display: flex;
	justify-content: space-between;
	font-family: var(--font-family-secondary);
}

.value-container,
.fill-indicator-container {
	position: relative;
	margin: 0 calc(var(--thumb-height) / 2);
}

.value-container {
	margin-bottom: 0.5rem;
	font-weight: 700;
}

.value {
	position: relative;
	left: var(--left);
	transform: translateX(-50%);
	display: inline-block;
	color: var(--main);
}
