rcc-slider {
	width:					100%;
	scroll-padding:			0 var(--rcc-padding);
}

rcc-slider::before,
rcc-slider::after  {
	flex-basis: 			100%;
}

rcc-slide {
	width:					19.125rem;
	flex: 					0 0 auto;
	scroll-snap-align:		start;
	overflow-y:				hidden;
}

rcc-slide + rcc-slide {
	margin-left:			.6875rem;
}

rcc-card {
	--font-size:	0.9rem;
	--min-height:	15.5rem;

	& ::ng-deep button.primary-action {
		margin-right: 0.5rem;
	}

	// We need to briefly give the card a higher z-index when
	// we start dragging, otherwise the user will see a bit of
	// the scroll button on the card. This causes a slight
	// flashing effect, which is undesirable, however the solutions
	// to this are not consistent across browsers
	&.dragging {
		z-index: 2;
	}
}

rcc-card.contains-button {
	display: 				flex;
	align-items: 			center;
	justify-content: 		center;

}

rcc-card.contains-button rcc-action-button {
	width: 					100%;
}

.question-container {
	padding:				1rem 0;
	scroll-padding-left: 	var(--rcc-padding);
	display: 				flex;
	align-items: 			stretch;
	flex-direction: 		row;
	scroll-snap-align:		start;
	overflow-x:				auto;
	scroll-snap-align:		start;
	scroll-behavior:		smooth;
	scroll-snap-type:		x mandatory;
	position:				relative;

	rcc-slider {
		&::-webkit-scrollbar {
			display:			none;
		}
	}

	&.has-overspill:hover {
		.navigation-button {
			display:		block;
		}
	}
}

h2 {
	font-size: 				.8rem;
	font-weight: 			400;
	font-family: 			var(--font-family-primary);
	margin: 				0rem 0;
	margin-left:			var(--rcc-padding);
}

.schedule-display {
	color: var(--main);
	font-family: var(--font-family-primary);
	font-size: 0.9rem;
	margin-right: .25rem;
	padding: 0.9rem 0;
	border-top: solid 1px var(--main);
}

.navigation-button {
	--radius:				1.6rem;
	height:					calc(var(--radius) * 2);
	width:					calc(var(--radius) * 2);
	border-radius:			var(--radius);
	background-color:		var(--main);
	color:					var(--main-contrast);
	position:				absolute;
	z-index: 				1;
	top:					calc(15.5rem / 2 + 1rem); // half of min height + padding
	transform:				translateY(-50%);
	display:				none;

	rcc-icon {
		--icon-dimension:	1.5rem;
	}

	.next-icon {
		transform: translateX(10%);
	}

	.previous-icon {
		transform: translateX(-10%);
	}

	&.previous {
		left:				0;
	}

	&.next {
		right:				0;
	}

	&:hover {
		background-color: var(--main-highlight);
	}
}

.drag-hover {
	background-color: var(--supp-highlight);
	transition: background-color ease-in-out 0.2s;
}

.dropped {
	animation: drop-effect ease-in-out 0.5s, border-highlight ease-in-out 5s;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	outline-color: transparent;
}

@keyframes drop-effect {
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1);
	}
}

@keyframes border-highlight {
	0% {
		outline-color: var(--main);
	}
	80% {
		outline-color: var(--main);
	}
	100% {
		outline-color: white;
	}
}
