<ng-container *ngIf="categorizedQuestions$ | async as catQuestions">
    <ng-container *ngIf="!hide">
        <h2 *ngIf="category !== null">{{'QUESTIONNAIRE_EDITOR.%s.heading' | fill: category | translate}}</h2>
        <div
            class = "question-container"
            [ngClass]="{ 'has-overspill': catQuestions.length > 0, 'drag-hover': dragHover }"
            #questionListContainer
            colorCategory="create"
            (dragover)="allowDragAndDrop && allowDrop($event)"
            (drop)="allowDragAndDrop && onDrop($event)"
            (dragenter)="allowDragAndDrop && onDragEnter()"
            (dragleave)="allowDragAndDrop && onDragLeave($event)"
        >
            <button
                class="navigation-button previous"
                (click)="slider.previous()"
                [attr.aria-label]="'QUESTIONNAIRE_EDITOR.SCROLL_BACK' | translate"
            >
                <rcc-icon name="previous" class="previous-icon"></rcc-icon>
            </button>
            <rcc-slider #slider>
                <rcc-slide
                    *ngFor="let catQuestion of catQuestions; index as index"
                >
                    <rcc-card
                        [heading]="questionHeading(catQuestion.question)"
                        [primaryAction]="getEditAction(catQuestion)"
                        [secondaryAction]="getRemoveAction(catQuestion)"
                        class="contains-question"
                        [ngClass]="{ dragging: startDragging, dropped: droppedId === catQuestion.question.id }"
                        [note]="catQuestion.schedule| translate"
                        colorCategory="create"
                        [showActionIcons]="mode === 'edit'"
                        [draggable]="allowDragAndDrop"
                        (dragstart)="allowDragAndDrop && onDragStart($event, catQuestion)"
                        (dragend)="onDragEnd()"
                    >
                        <rcc-widget [widgetControl]="getQueryControl(catQuestion.question)"></rcc-widget>
                    </rcc-card>
                </rcc-slide>

                <rcc-slide
                    *ngIf="mode === 'edit' || mode === 'init'"
                >
                    <rcc-card
                        class 	= "bare contains-button"
                        colorCategory="create"
                    >
                        <rcc-action-button
                            [action]	= "addQuestion"
                            [hideCard]	= "true"
                        >
                        </rcc-action-button>
                    </rcc-card>
                </rcc-slide>
            </rcc-slider>
            <button
                class="navigation-button next"
                (click)="slider.next()"
                [attr.aria-label]="'QUESTIONNAIRE_EDITOR.SCROLL_FORWARD' | translate"
            >
                <rcc-icon name="next" class="next-icon"></rcc-icon>
            </button>
        </div>
    </ng-container>
</ng-container>
