.text {
	text-align:			center;
}

.content-container {
	background-color:	var(--supp);
	padding:			3.5rem 0;
	position:			relative;
	min-height:			27rem;
	box-shadow:			var(--rcc-box-shadow);
	margin:				2.5rem 0;

	rcc-qr-code,
	.qr-skeleton {
		margin:			1rem auto;
	}

	.text {
		padding: 1rem;
	}
}

.qr-skeleton {
	content: '';
	background-color: var(--supp);
	height: 12rem;
	width: 12rem;
	position: relative;
	overflow: hidden;
}

.qr-skeleton::after {
	content: '';
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
	animation: skeleton-animation 2s infinite;
	position: absolute;
	inset: 0;
}

@keyframes skeleton-animation {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translate(100%);
	}
}
