section {
	max-width: var(--rcc-content-width);
	align-self: center;
}

b {
	margin-bottom: 0.5em;
}

p {
	display: flex;
	flex-direction: column;
	margin: 1.75em 0;
}

.aboutItem {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1em;
}


