
<rcc-item-list
	[items]="itemGroups"
	[itemActionRoles]	= "['productive', 'destructive', 'edit']"
	>
</rcc-item-list>

<div
       *ngIf   = "itemGroups.length === 0"
       class   = "ion-text-center"
       [id]    = "'META_STORE.NO_ACTIVE_STORES' | toID: 'rcc-e2e'"

>
       <h3>{{ 'META_STORE.NO_ACTIVE_STORES' | translate }}</h3>
</div>
