<rcc-full-page
	colorCategory="create"
>

	<h1
		headingContent
	>
		<rcc-current-date-message
			[bold]	=	"templateNameIsBold"
			(click)	=	"clickHeading()"
		>
			<ng-container *ngIf="initMode; else selected">
				{{ 'QUESTIONNAIRE_EDITOR.CHOOSE_TEMPLATE' | translate }}
			</ng-container>
			<ng-template #selected
				[formGroup]="nameFormGroup"
				>
						<rcc-edit-text
							class="questionnaire-name-form"
							formControlName="name"

							[inputLabel]="'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.LABEL' | translate"
							[editLabel]="'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.EDIT' | translate"
							[doneLabel]="'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.DONE' | translate"
							[multiLine]="false"
							[rows]="1"
							[readOnly]="!editMode"
						>
						</rcc-edit-text>
			</ng-template>
		</rcc-current-date-message>
	</h1>

	<section mainContent [formGroup]="templateFormGroup">
		<div class="template-select" *ngIf="initMode">
			<rcc-pull-down-select
				[rccFocus]="focusTemplateSelection$"
				[options]="templates$ | async"
				formControlName="template"
				[unselectedText]="'QUESTIONNAIRE_EDITOR.SELECT_TEMPLATE' | translate"
			></rcc-pull-down-select>
		</div>

		<!-- section for all the questions -->
		<div class = "questions">

			<!-- question categories -->
			<div *ngFor = "let category of visibleQuestionCategories">
				<rcc-question-lane
					colorCategory="create"
					[category]="category"
					[mode]="mode$ | async"
				></rcc-question-lane>
			</div>

			<div class="quick-action-list-container">
				<h2>{{'QUESTIONNAIRE_EDITOR.SCHEDULE_AND_REMINDER' | translate}}</h2>
				<div class = "quick-action-list">
					<rcc-card id = "quick-action-card">
						<rcc-quick-action-list
							*ngFor="let action of quickActions$ | async"
							(editClick)="action.handler()"
							color="create"
							[editable]="initMode || editMode"
						>{{ action.data | translate }}
						</rcc-quick-action-list>
					</rcc-card>
				</div>
			</div>

		</div>

		<div class="footer" >
			<ng-container *ngIf="editMode || initMode; else previewFooter">
				<rcc-action-button
					[action]	= "previewAction"
					buttonSize	= "medium"
				></rcc-action-button>

				<rcc-action-button
					[action]	= "backAction"
					buttonSize	= "medium"
				></rcc-action-button>
			</ng-container>
		</div>

		<ng-template #previewFooter>
			<rcc-action-button
				[action]	= "primaryAction"
				buttonSize	= "medium"
			></rcc-action-button>

			<rcc-action-button
				[action]	= "editAction"
				buttonSize	= "medium"
			></rcc-action-button>
		</ng-template>

	</section>

</rcc-full-page>
