@import 'bengal/mixins/breakpoints';

:host {
	display: contents;
}

.questionnaire-name-form {
	display:				block;

	justify-content:		space-between;
	align-items:			flex-end;
	background-color:		transparent;
	font-family:			var(--font-family-primary);
	font-weight: 			700;
	gap:					2rem;

	max-width: 				18.6rem;

	rcc-icon {
		height:				1rem;
	}

	&:disabled {
		color: inherit;
	}
	gap:					1rem;
}

[maincontent] {
	display: 				flex !important;
	flex-direction: 		column;
	gap: 					0 !important;
}

[maincontent] h2 {
	font-size: 				.8rem;
	font-family: 			var(--font-family-primary);
	margin: 				0rem 0;
	margin-left:			var(--rcc-padding);
}

.questions {
	box-sizing:				content-box;
	padding: 				var(--rcc-padding) 0;
	margin:					0 calc(-1 * var(--rcc-padding) );
	padding-top: 			0;
	background-color: 		var(--supp);

	> * {
		max-width: var(--rcc-content-width);
		margin: 0 auto;
	}

	> :first-child {
		margin-top: 			.875rem;
	}
}


rcc-full-page ::ng-deep header {
	margin-bottom: 0.7rem;
}

.template-select {
	width: 100%;
	max-width: var(--rcc-content-width);
	margin: 0 auto;
	padding: 0 var(--rcc-padding);
	margin-bottom: 2rem;
}

.quick-action-list {
	padding:				0 var(--rcc-padding);
	display: 				flex;
	align-items: 			stretch;
	flex-direction: 		row;
	margin-top:				1rem;

}

rcc-quick-action-list {
	width:					19.125rem;
	flex: 					0 0 auto;
}

.footer {
	padding:				2rem var(--rcc-padding);
	display:				flex;
	flex-direction:			column;
	column-gap:				1rem;
	row-gap:				2rem;
	width:					100%;
    max-width:				var(--rcc-content-width);
    margin:					0 auto;

	@include desktop {
		flex-direction:		row;
		justify-content:	flex-end;
	}
}

rcc-card {
	width:					19.125rem;
	flex: 					0 0 auto;
	scroll-snap-align:		start;
}

#quick-action-card {
	display:				block;
	padding: 				1rem 0;
	box-sizing: 			border-box;
	line-height:			.875rem;
	--background-color:		#FFF;
	--font-size: 			1rem;
	min-height:				0;
	background-color: 		var(--background-color);
	border-radius: 			.5rem;
	border:					1px solid #0E0E0E;
}

#quick-action-card ::ng-deep .heading {
	display:				none;
}
#quick-action-card ::ng-deep :nth-child(2) {
	margin-top:				0;
}
