
.all-done-slide {
	display:			flex;
	flex-direction:		column;
	flex:				0 0 100%;
	min-width:			21rem;
}

.all-done-slide rcc-card {
	padding:			1.25rem;
	background:			linear-gradient(164.41deg, #FDFDFD 57.64%, var(--supp-highlight) 108.57%);

}

/** Texts **/

.all-done-slide rcc-card h1 {
	margin-top: 			0rem;
	line-height: 			.8rem;
	font-family:			var(--font-family-primary);
	font-size:				.8rem;
}

.all-done-slide div {
	width:				100%;
}

.count-out-of-total-text {
	font-family:		var(--font-family-secondary);
	font-weight:		600;
	font-size:			1rem;
	margin-bottom:		2rem;
	margin-right:		3.5rem;
}

.card-text {
	margin-bottom:		2rem;
	font-family:		var(--font-family-primary);
	font-size:			.8rem;
}


/** Buttons **/

.done-button {
	margin:			2rem 0;
	z-index:		1000;
}
