<rcc-slide
	class	= "all-done-slide"
>
	<rcc-card
		class			= "bare"
		colorCategory	= "share">

		<div>

			<!-- If not all questions were answered -->
			<h1
				*ngIf	= "!allDoneToday"
				[id]	= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.ALMOST_DONE' | toID:'rcc-e2e'"
			>
				{{ 'SYMPTOM_CHECK_QUERIES.QUERY_RUN.ALMOST_DONE' 	| translate}}
			</h1>

			<!-- If all questions were answered -->
			<h1
				*ngIf	= "allDoneToday"
				[id]	= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.ALL_DONE' | toID:'rcc-e2e'"
				class	="all-done-today"
			>
				{{ 'SYMPTOM_CHECK_QUERIES.QUERY_RUN.ALL_DONE' 	| translate}}
			</h1>

		</div>

		<div>

			<!-- Show count of answered questions -->
			<p
				[id]	= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.COUNT_TODAY_ANSWERS' | toID:'rcc-e2e'"
				class	= "count-out-of-total-text"
			>
				{{ 'SYMPTOM_CHECK_QUERIES.QUERY_RUN.COUNT_TODAY_ANSWERS' | translate : {count: doneToday, total: totalToday} }}
			</p>

		</div>

		<!-- If not done, suggest going back to answer more questions -->
		<div
			*ngIf = "!allDoneToday"
		>
			<p
				class	= "card-text"
				[id]	= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | toID:'rcc-e2e'"
			>
				{{ 'SYMPTOM_CHECK_QUERIES.QUERY_RUN.GO_BACK_TO_EDIT' | translate }}
			</p>
		</div>

		<!-- If done -->
		<div
			*ngIf = "allDoneToday"
		>
			<p
				class	= "card-text"
				[id]	= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | toID:'rcc-e2e'"
			>
				{{ 'SYMPTOM_CHECK_QUERIES.QUERY_RUN.TODAY_ALL_DONE' | translate }}
			</p>
		</div>

		<div>
			<p
				class	= "card-text"
				[id]	= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.SEND_DATA_INFO' | toID:'rcc-e2e'"
			>
				{{ 'SYMPTOM_CHECK_QUERIES.QUERY_RUN.SEND_DATA_INFO' | translate }}
			</p>
		</div>

		<!-- Send data button -->
		<rcc-action-button
			class			= "done-button"
			buttonSize		= "medium"
			[action]		= "doneAction"
			[id]			= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.DONE' | toID:'rcc-e2e'"
		>
			{{ 'SYMPTOM_CHECK_QUERIES.QUERY_RUN.DONE' | translate }}
		</rcc-action-button>

	</rcc-card>

</rcc-slide>
