p {
	font-size: .8rem;
	font-family: var(--font-family-secondary);
	margin-bottom: 2rem;
}

.scroll-info {
	text-align: right;
}

ul {
	padding-left: 0;

	li {
		list-style: none;

		rcc-card {
			min-height: 6rem;

			rcc-edit-text {
				font-weight: 600;
			}

		}

		rcc-card ::ng-deep .card-body {
			padding-right: 0;
			margin-right: -0.5rem;
		}

	}

}

.add-resource {
	margin-top: 1rem;
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: var(--rcc-box-shadow);
	padding: 2rem 0;
}
