<p 	*ngIf="editMode">
	{{'RESOURCES.EXPLANATION' | translate}}
</p>
<p 	*ngIf="!editMode" class="scroll-info">
	{{'RESOURCES.SCROLL_INFO' | translate}}
</p>

<div
	class="add-resource"
	*ngIf="editMode"
>

	<rcc-action-button
		[action]="addResourceAction"
		buttonSize="medium"
	></rcc-action-button>
</div>

<ul *ngFor="let resource of resources">
	<li [formGroup]="formGroups.get(resource.id)">
		<rcc-card
			[secondaryAction]="this.editMode ? getDeleteAction(resource) : null"
			[heading] = "editMode ? null : resource.text | translate"
		>
			<rcc-edit-text
				*ngIf="editMode"
				formControlName="text"
				[inputLabel]="'RESOURCES.EDIT_TEXT.LABEL' | translate"
				[editLabel]="'RESOURCES.EDIT_TEXT.EDIT' | translate"
				[doneLabel]="'RESOURCES.EDIT_TEXT.DONE' | translate"
				[multiLine]="true"
			>
			</rcc-edit-text>
		</rcc-card>
	</li>
</ul>
