<!-- stolen from backup-page component -->

<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button defaultHref = "/"></ion-back-button>
	  </ion-buttons>

	  <ion-title>
		Willkommen bei REPOSE
	  </ion-title>

	</ion-toolbar>
</ion-header>

<ion-content>
	<rcc-button (clickEvent)="onSendData()">Send Data</rcc-button>

	<h2>CSV</h2>
	<pre>
		{{ csv_string }}
	</pre>

	<h2>JSON</h2>
	<pre>
		{{ json_string }}
	</pre>

</ion-content>
