// Minimal Branding Guide  https://app.clickup.com/30310582/v/dc/wx05p-5901/wx05p-4281
@import '../common/theme.scss';

@font-face {
	font-family: 	"Rcc IBM Plex Mono";
	src:			url(/assets/fonts/ibmplexmono-regular-webfont.woff2) format('woff2'),
					url(/assets/fonts/ibmplexmono-regular-webfont.woff) format('woff');
	font-weight: 	400;
}
@font-face {
	font-family: 	"Rcc IBM Plex Mono";
	src:			url(/assets/fonts/ibmplexmono-semibold-webfont.woff2) format('woff2'),
					url(/assets/fonts/ibmplexmono-semibold-webfont.woff) format('woff');
	font-weight: 	600;
}
@font-face {
	font-family: 	"Rcc IBM Plex Mono";
	src:			url(/assets/fonts/ibmplexmono-bold-webfont.woff2) format('woff2'),
					url(/assets/fonts/ibmplexmono-bold-webfont.woff) format('woff');
	font-weight: 	700;
}
@font-face {
	font-family: 	"Rcc IBM Plex Sans";
	src:			url(/assets/fonts/ibmplexsans-regular-webfont.woff2) format('woff2'),
					url(/assets/fonts/ibmplexsans-regular-webfont.woff) format('woff');
	font-weight: 	400;
}
@font-face {
	font-family: 	"Rcc IBM Plex Sans";
	src:			url(/assets/fonts/ibmplexsans-semibold-webfont.woff2) format('woff2'),
					url(/assets/fonts/ibmplexsans-semibold-webfont.woff) format('woff');
	font-weight: 	600;
}
@font-face {
	font-family: 	"Rcc IBM Plex Sans";
	src:			url(/assets/fonts/ibmplexsans-bold-webfont.woff2) format('woff2'),
					url(/assets/fonts/ibmplexsans-bold-webfont.woff) format('woff');
	font-weight: 	700;
}

:root {
	--font-family-primary:					"Rcc IBM Plex Mono";
	--font-family-secondary:				"Rcc IBM Plex Sans";

	--rcc-rgb-violet-default:								80, 74, 240;		/* #504AF0 */
	--rcc-rgb-violet-hover:									27, 23, 143;		/* #1B178F */
	--rcc-rgb-violet-disabled:								168, 186, 252;		/* #A8BAFC */
	--rcc-rgb-violet-back:									237, 242, 249;		/* #EDF2F9 */

	--rcc-rgb-orange-default:								231, 129, 67;		/* #E78143 */
	--rcc-rgb-orange-hover:									189, 90, 28;		/* #BD5A1C */
	--rcc-rgb-orange-disabled:								251, 209, 184;		/* #FBD1B8 */
	--rcc-rgb-orange-back:									250, 236, 228;		/* #FAECE4 */

	--rcc-rgb-green-default:								34, 165, 143;		/* #22A58F */
	--rcc-rgb-green-hover:									20, 121, 106;		/* #14796A */
	--rcc-rgb-green-disabled:								158, 229, 217;		/* #9EE5D9 */
	--rcc-rgb-green-back:									215, 245, 240;		/* #D7F5F0 */

	--rcc-rgb-yellow-default:								239, 169, 6;		/* #EFA906 */
	--rcc-rgb-yellow-hover:									174, 132, 32;		/* #AE8420 */
	--rcc-rgb-yellow-disabled:								248, 214, 136;		/* #F8D688 */
	--rcc-rgb-yellow-back:									250, 241, 225;		/* #FAF1E1 */

	--rcc-rgb-black-default:								56, 56, 56;			/* #383838 */
	--rcc-rgb-black-hover:									14, 14, 14;			/* #0E0E0E */
	--rcc-rgb-black-disabled:								85, 85, 85;			/* #555555 */
	--rcc-rgb-black-back:									102, 102, 102;		/* #666666 */


	/**
	 * Hierarchical colors:
	 *
	 * - primary
	 * - secondary
	 * - tertiary
	 * - quaternary (more common than 'quartary')
	 */

	 --rcc-primary-rgb-main:						var(--rcc-rgb-orange-default);	/* #E78143 */
	 --rcc-primary-rgb-supp:						var(--rcc-rgb-orange-back);		/* #FAECE4 */
	 --rcc-primary-rgb-main-highlight:				var(--rcc-rgb-orange-hover);	/* #BD5A1C */
	 --rcc-primary-rgb-supp-highlight:				var(--rcc-rgb-orange-disabled);	/* #FBD1B8 */

	 --rcc-primary-rgb-main-contrast:				255, 255, 255;		/* #fff */
	 --rcc-primary-rgb-supp-contrast:				68, 67, 67;			/* #444343 */
	 --rcc-primary-rgb-main-highlight-contrast:		255, 255, 255;		/* #fff */
	 --rcc-primary-rgb-supp-highlight-contrast:		14, 14, 14;			/* #0E0E0E */


	 --rcc-secondary-rgb-main:						var(--rcc-rgb-violet-default);	/* #504AF0 */
	 --rcc-secondary-rgb-supp:						var(--rcc-rgb-violet-back);		/* #EDF2F9 */
	 --rcc-secondary-rgb-main-highlight:			var(--rcc-rgb-violet-hover);	/* #1B178F */
	 --rcc-secondary-rgb-supp-highlight:			var(--rcc-rgb-violet-disabled);	/* #A8BAFC */
	 --rcc-secondary-rgb-main-highlight-contrast:	255, 255, 255;					/* #FFFFFF */

	 --rcc-secondary-rgb-main-contrast:				255, 255, 255;	/* #fff */
	 --rcc-secondary-rgb-supp-contrast:				68, 67, 67;		/* #444343 */


	 --rcc-tertiary-rgb-main:						var(--rcc-rgb-green-default);		/* #22A58F */
	 --rcc-tertiary-rgb-main-highlight:				var(--rcc-rgb-green-hover);			/* #14796A */
	 --rcc-tertiary-rgb-main-contrast:				255, 255, 255;						/* #FFFFFF */
	 --rcc-tertiary-rgb-main-highlight-contrast:	255, 255, 255;						/* #FFFFFF */

	 --rcc-tertiary-rgb-supp:						var(--rcc-rgb-green-back);			/* #D7F5F0 */
	 --rcc-tertiary-rgb-supp-highlight:				var(--rcc-rgb-green-back);			/* #D7F5F0 */
	 --rcc-tertiary-rgb-supp-contrast:				68, 67, 67;							/* #444343 */
	 --rcc-tertiary-rgb-supp-highlight-contrast:	14, 14, 14;							/* #0E0E0E */


	 --rcc-quaternary-rgb-main:						var(--rcc-rgb-yellow-default);		/* #EFA906 */
	 --rcc-quaternary-rgb-main-highlight:			var(--rcc-rgb-yellow-hover);		/* #AE8420 */
	 --rcc-quaternary-rgb-main-contrast:			255, 255, 255;						/* #FFFFFF */
	 --rcc-quaternary-rgb-main-highlight-contrast:	255, 255, 255;						/* #FFFFFF */

	 --rcc-quaternary-rgb-supp:						var(--rcc-rgb-yellow-back);			/* #FAF1E1 */
	 --rcc-quaternary-rgb-supp-highlight:			var(--rcc-rgb-yellow-back);			/* #FAF1E1 */
	 --rcc-quaternary-rgb-supp-contrast:			68, 67, 67;							/* #444343 */
	 --rcc-quaternary-rgb-supp-highlight-contrast:	14, 14, 14;							/* #0E0E0E */


	 --rcc-quinary-rgb-main:						var(--rcc-rgb-black-default);		/* #383838 */
	 --rcc-quinary-rgb-main-highlight:				var(--rcc-rgb-black-hover);			/* #0E0E0E */
	 --rcc-quinary-rgb-main-contrast:				255, 255, 255;						/* #FFFFFF */
	 --rcc-quinary-rgb-main-highlight-contrast:		255, 255, 255;						/* #FFFFFF */

	 --rcc-quinary-rgb-supp:						var(--rcc-rgb-black-back);			/* #666666 */
	 --rcc-quinary-rgb-supp-highlight:				var(--rcc-rgb-black-back);			/* #666666 */
	 --rcc-quinary-rgb-supp-contrast:				68, 67, 67;							/* #444343 */
	 --rcc-quinary-rgb-supp-highlight-contrast:		14, 14, 14;							/* #0E0E0E */



	/**
	  * Categorical colors:
	  *
	  * | category | meaning |
	  * |----------|---------|
	  * | create   | Everything connected to content creation and editing |
	  * | share    | Everything connected to sending data                 |
	  * | receive  | Everything connected to receiving data               |
	  * | analyze  | Everything connected to analyzing or evaluating data |
	  * | default  | Everything that does not fall into any category      |
	  *
	  * Add/remove categorical colors as you please.
	  */


	--rcc-category-create-rgb-main:							var(--rcc-rgb-orange-default);	/* #E78143 */
	--rcc-category-create-rgb-supp:							var(--rcc-rgb-orange-back);		/* #FAECE4 */
	--rcc-category-create-rgb-main-highlight:				var(--rcc-rgb-orange-hover);	/* #BD5A1C */
	--rcc-category-create-rgb-supp-highlight:				var(--rcc-rgb-orange-disabled);	/* #FBD1B8 */

	--rcc-category-create-rgb-main-contrast:				255, 255, 255;		/* #fff */
	--rcc-category-create-rgb-supp-contrast:				68, 67, 67;			/* #444343 */
	--rcc-category-create-rgb-main-highlight-contrast:		255, 255, 255;		/* #fff */
	--rcc-category-create-rgb-supp-highlight-contrast:		14, 14, 14;			/* #0E0E0E */



	--rcc-category-share-rgb-main:							var(--rcc-rgb-yellow-default);	/* #EFA906 */
	--rcc-category-share-rgb-supp:							var(--rcc-rgb-yellow-back);		/* #FAF1E1 */
	--rcc-category-share-rgb-main-highlight:				var(--rcc-rgb-yellow-hover);	/* #AE8420 */
	--rcc-category-share-rgb-supp-highlight:				var(--rcc-rgb-yellow-disabled);	/* #F8D688 */

	--rcc-category-share-rgb-main-contrast:					255, 255, 255;	/* #fff */
	--rcc-category-share-rgb-supp-contrast:					68, 67, 67;		/* #444343 */
	--rcc-category-share-rgb-main-highlight-contrast:		255, 255, 255;	/* #fff */
	--rcc-category-share-rgb-supp-highlight-contrast:		14, 14, 14;		/* #0E0E0E */



	--rcc-category-receive-rgb-main:						var(--rcc-rgb-violet-default);	/* #504AF0 */
	--rcc-category-receive-rgb-supp:						var(--rcc-rgb-violet-back);		/* #EDF2F9 */
	--rcc-category-receive-rgb-main-highlight:				var(--rcc-rgb-violet-hover);	/* #1B178F */
	--rcc-category-receive-rgb-supp-highlight:				var(--rcc-rgb-violet-disabled);	/* #A8BAFC */

	--rcc-category-receive-rgb-loading-gradient-1:			225, 245, 242;
	--rcc-category-receive-rgb-loading-gradient-2:			237, 242, 249;

	--rcc-category-receive-rgb-main-contrast:				255, 255, 255;	/* #fff */
	--rcc-category-receive-rgb-supp-contrast:				68, 67, 67;		/* #444343 */



	--rcc-category-analyze-rgb-main:						var(--rcc-rgb-green-default);	/* #29BAA5 */
	--rcc-category-analyze-rgb-supp:						var(--rcc-rgb-green-back);		/* #D7F5F0 */
	--rcc-category-analyze-rgb-main-highlight:				var(--rcc-rgb-green-hover);		/* #14796A */
	--rcc-category-analyze-rgb-supp-highlight:				var(--rcc-rgb-green-disabled);	/* #9EE5D9 */

	--rcc-category-analyze-rgb-main-contrast:				255, 255, 255;	/* #fff */
	--rcc-category-analyze-rgb-supp-contrast:				68, 67, 67;		/* #444343 */
	--rcc-category-analyze-rgb-main-highlight-contrast:		255, 255, 255;	/* #fff */
	--rcc-category-analyze-rgb-supp-highlight-contrast:		14, 14, 14;		/* #0E0E0E */



	--rcc-category-undefined-rgb-main:						var(--rcc-rgb-black-default);	/* #383838 */
	--rcc-category-undefined-rgb-supp:						var(--rcc-rgb-black-back);		/* #666666 */
	--rcc-category-undefined-rgb-main-highlight:			var(--rcc-rgb-black-hover);		/* #0E0E0E */
	--rcc-category-undefined-rgb-supp-highlight:			var(--rcc-rgb-black-disabled);	/* #555555 */

	--rcc-category-undefined-rgb-main-contrast:				255, 255, 255;	/* #fff */
	--rcc-category-undefined-rgb-supp-contrast:				68, 67, 67;		/* #444343 */
	--rcc-category-undefined-rgb-main-highlight-contrast:	255, 255, 255;	/* #fff */
	--rcc-category-undefined-rgb-supp-highlight-contrast:	14, 14, 14;		/* #0E0E0E */

	:focus-visible {
		outline: .125rem solid var(--main, rgb(var(--rcc-primary-rgb-main)));
		outline-offset: .125rem;
	}
}
