:host {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.card {
	background-color: var(--supp);
	box-shadow: var(--rcc-box-shadow);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2.75rem;
	padding-top: 4rem;
	padding-bottom: 1.625rem;

	.code-input {
		display: block;
		margin-bottom: 2rem;
		width: 100%;
	}
}

.modal-hint-text {
	margin-bottom: 1rem;
	text-align: center;
}

.modal-hint-text,
.consent {
	font-family: var(--font-family-secondary);
	font-size: 0.8rem;
}
