<rcc-full-page-modal-style-layout
	[headingMessage]="'TRANSMISSION_REQUESTS.TAN.INPUT.HEADING' | translate"
	colorCategory="share"
>
	<form class="content" (ngSubmit)="submit()" [formGroup]="formGroup">
		<div class="modal-hint-text">{{'TRANSMISSION_REQUESTS.TAN.INPUT.DESCRIPTION' | translate}}</div>
		<div class="card">
			<rcc-code-input class="code-input" [length]="6" formControlName="code"></rcc-code-input>
			
			<rcc-action-button [action]="{ label: 'TRANSMISSION_REQUESTS.TAN.CONFIRM' }" buttonSize="medium"></rcc-action-button>
			<p class="consent">{{ 'TRANSMISSION_REQUESTS.TAN.CONSENT' | translate }}</p>
		</div>
	</form>
</rcc-full-page-modal-style-layout>
