:host {
	font-family: var(--font-family-secondary);
}

p {
	margin-top: 0.88rem;
	margin-bottom: 1.25rem;
	font-size: 0.9rem;
}

ol {
	counter-reset: crisis-pass-counter;
	padding: 0;
	display: grid;
	gap: 1.25rem;
}

li {
	box-shadow: var(--rcc-box-shadow);
	border-radius: 0.5rem;
	padding: 1rem 1.25rem;
	background: linear-gradient(0deg, var(--supp) 0%, var(--rcc-off-white) 18%);

	font-size: 0.9rem;
	font-weight: 600;
	line-height: 140%;
	list-style: none;

	display: flex;
	gap: 0.5rem;

	&::before {
		counter-increment: crisis-pass-counter;
		content: counter(crisis-pass-counter) ".";
	}
}
