<ion-header [translucent]="true">

	<ion-toolbar>

		<ion-title
			[id] = "'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.HEADER' | toID:'rcc-e2e'"
		>
			{{'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.HEADER' | translate}}
		</ion-title>

		<ion-buttons	slot="secondary">
			<ion-button
				color	= "light"
				fill	= "solid"
				(click) = "cancel()"
				class = "rcc-e2e-schedule-cancel"
			>
				{{cancelLabel | translate }}
			</ion-button>
		</ion-buttons>

		<ion-buttons	slot="primary">
			<ion-button
				color	= "primary"
				fill	= "solid"
				(click) = "apply()"
				class = "rcc-e2e-schedule-apply"
			>
				{{applyLabel | translate }}
			</ion-button>
		</ion-buttons>

	</ion-toolbar>

</ion-header>

<ion-content [fullscreen] = "true">


	<ion-list>

		<ion-item>

			<ion-label>
				<h3 [id] = "'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.PREVIEW_LABEL' | toID:'rcc-e2e'">
					{{ 'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.PREVIEW_LABEL' | translate }}
				</h3>

				<p class = "ion-text-wrap">
					{{scheduleEdit | translate}}
				</p>
			</ion-label>

		</ion-item>

		<!-- Day of Week -->

		<ion-item
			[button]	= "true"
			(click)		= "restrictDaysControl.setValue(!restrictDaysControl.value)"
		>

			<ion-label
				[id]		= "'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.RESTRICT_DAYS' | toID:'rcc-e2e'"
			>
				{{ 'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.RESTRICT_DAYS' | translate }}
			</ion-label>

			<ion-toggle
				class		= "rcc-e2e-toggle"
				[checked]	= "restrictDaysControl.value"
				slot		= "end"
			></ion-toggle>

		</ion-item>


		<ion-item-group
			*ngIf 		= "restrictDaysControl.value"
			class		= "ion-margin-start"
			class       = "rcc-e2e-schedule"
			[formGroup]	= "dayControlGroup"
		>

			<ion-item
				*ngFor = "let day of ['mo', 'tu', 'we', 'th', 'fr', 'sa', 'su']"
				[class]    = "'rcc-e2e-schedule-'+day"
			>

				<ion-label>
					<h3 [id]	= "'SCHEDULES.DAYS.%1' | fill : day | toID:'rcc-e2e'">{{'SCHEDULES.DAYS.%1' | fill: day | translate}}</h3>
				</ion-label>

				<ion-checkbox
					[formControlName] = "day"
					[id]    = "'rcc-e2e-schedule-checkbox-'+day"
				></ion-checkbox>

			</ion-item>

		</ion-item-group>



		<!-- Time of Day -->

		<ng-container *ngIf = "editTimes">

			<ion-item >

				<ion-label text-wrap>
					<h3 [id]= "'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.RESTRICT_TIMES' | toID:'rcc-e2e'">
						{{ 'CUSTOM_SYMPTOM_CHECK_STORE.SCHEDULE_MODAL.RESTRICT_TIMES' | translate }}
					</h3>
				</ion-label>

				<ion-toggle [formControl] = "restrictTimesControl" slot = "end"></ion-toggle>

			</ion-item>


			<ion-item-group
				*ngIf 			= "restrictTimesControl.value"
				class			= "ion-margin-start"
				[formGroup]		= "timeControlGroup"
			>

				<ion-item *ngFor = "let time of times">

					<ion-label>
						<h3 [id]	= "'SCHEDULES.TIMES_OF_DAY.%1'  | fill : time | toID:'rcc-e2e'">
							{{'SCHEDULES.TIMES_OF_DAY.%1' | fill: time | translate}}
						</h3>
					</ion-label>

					<ion-checkbox [formControlName] = "time"></ion-checkbox>

				</ion-item>

			</ion-item-group>

		</ng-container>



	</ion-list>

</ion-content>
