.container {
    display: flex;
    font-family: var(--font-family-secondary);

    &:not(.multi-line) {
        align-items: center;
    }

    input {
        --line-height: 1rem;
    }

    textarea {
        --line-height: 2rem;
    }

    input,
    textarea {
        flex: 1;

        height: fit-content;

        resize: none;

		font-size: .9rem;
        line-height: var(--line-height);
        border: none;
        outline-offset: 0.5rem;

        outline: none;

        padding-left: var(--textarea-indent);

        &:focus-visible {
            background-color: var(--supp);

            + button.editButton {
                display: none;
            }
        }

        &:not(:focus-visible) {
            + button.editButton + button.doneButton {
                display: none;
            }
        }
    }

    input::placeholder {
        font-style: italic;
    }

    button {
        background-color: inherit;

        height: fit-content;
        padding: 0.25rem 1rem;

        &[hidden] {
            display: none;
        }
    }

    &:hover {
        button.editButton rcc-icon {
            --icon-fill: 		var(--main-highlight);
            --icon-stroke: 		var(--main-highlight-contrast);
        }
    }

    button.doneButton:hover rcc-icon {
        --icon-stroke: 		var(--main-highlight);
    }

    input:disabled {
        background-color: transparent;
    }
}
