:host{
	display: 			flex;
	height: 			100%;
	max-height: 		100%;
}


:host .legend-wrapper {
	display: 				flex;
	flex-direction: 		column;
	align-items: 			stretch;
}


:host .chart {
	width:					calc( var(--number-of-data-points) * 3em + 10em);
	flex: 					1 1 0;
	overflow: 				hidden;
}

:host .legend {
	flex: 					1 1 0;
	overflow-y: 			scroll;
}


@media (orientation: portrait) {

	:host {
		flex-direction: 		column;
		align-items: 			stretch;
	}

	:host .chart-wrapper {
		flex: 					0 0 50%;
		display: 				flex;
		flex-direction: 		column;
		overflow-x:  			scroll;
	}

	:host .legend-wrapper {
		flex: 					0 0 50%;
	}
}


@media (orientation: landscape) {

	:host {
		flex-direction: 		row;
		align-items: 			stretch;
		overflow-x:  			scroll;
	}

	:host .chart-wrapper {
		flex: 					1 0 auto;
		display: 				flex;
		flex-direction: 		column;
		max-height: 			100%;
	}

	:host .legend-wrapper {
		flex: 					0 0 50%;
	}
}
