<div class = "chart-wrapper">
	<div class	= "ion-padding chart">
		<canvas></canvas>
	</div>
</div>
<div class = "legend-wrapper">
	<div class = "legend">

		<ion-list>

			<ion-item>
				<ion-label>
					{{"BASIC_DATA_VIEW_WIDGETS.LEGEND.START" | translate}}
				</ion-label>
				<p>{{legend.firstDate | translate : {dateStyle: 'full'} }}</p>
			</ion-item>

			<ion-item>
				<ion-label>
					{{"BASIC_DATA_VIEW_WIDGETS.LEGEND.END" | translate}}
				</ion-label>
				<p>{{legend.lastDate | translate : {dateStyle: 'full'} }}</p>
			</ion-item>

			<rcc-standalone-item-tag
				[item]			= "legend.primaryQuestion"
				colorCategory	= "primary"
				[noActions] 	= "true"
			></rcc-standalone-item-tag>

			<rcc-standalone-item-tag
				*ngIf			= "legend.secondaryQuestion"
				[item]			= "legend.secondaryQuestion"
				colorCategory	= "secondary"
				[noActions] 	= "true"

			></rcc-standalone-item-tag>


			<ion-item *ngIf = "">
				<ion-label>
					{{"BASIC_DATA_VIEW_WIDGETS.LEGEND.SECONDARY_QUESTION" | translate}}
					<p>{{legend.secondaryQuestion | translate}}</p>
				</ion-label>
			</ion-item>

		</ion-list>

	</div>
</div>
