<ion-row class="ion-align-items-end">
	<ion-col size="3">
		<ion-item
			lines = "full"
		>
			<ion-label
				position  = "stacked"
				[id]      = "'QUESTIONS.EDIT.WORDING' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.OPTIONS.VALUE" | translate }}
			</ion-label>
			<ion-input
				*ngIf           = "optionValueType === 'text'"
				formControlName = "value"
				type            = "text"
				[autofocus]     = "true"
				[disabled]      = "valueReadonly"
			></ion-input>

			<ion-input
				*ngIf           = "optionValueType === 'number'"
				formControlName = "value"
				type            = "number"
				[autofocus]     = "true"
				[disabled]      = "valueReadonly"
			></ion-input>

			<ion-select
				*ngIf           = "optionValueType === 'boolean'"
				formControlName = "value"
			>
				<ion-select-option [value] = "true">
					{{ 'TRUE' | translate }}
				</ion-select-option>
				<ion-select-option [value] = "false">
					{{ 'FALSE' | translate }}
				</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-col>

	<ion-col [size]="showRemoveButton ? 7 : 9">
		<ion-item lines="full">
			<ion-label
				position = "stacked"
				[id]     = "'QUESTIONS.EDIT.OPTIONS.LABEL' | toID:'rcc-e2e'"
			>
				{{ "QUESTIONS.EDIT.OPTIONS.LABEL" | translate }}
			</ion-label>
			<ion-input formControlName="label"></ion-input>
		</ion-item>
	</ion-col>

	<ion-col size="2" *ngIf="showRemoveButton">
		<ion-item
			lines    = "full"
			[button] = "true"
			(click)  = "removeItem.emit()"
		>
			<ion-icon
				[name] = "'remove' | rccIcon"
				slot   = "end"
			></ion-icon>
		</ion-item>
	</ion-col>
</ion-row>
