input {
	padding: 1.25rem;
	width: 100%;
	height: 5rem;
	margin: 1rem;
	border: solid 1px var(--supp-highlight-contrast);
	color: var(--supp-highlight-contrast);
	font-family: var(--font-family-primary);
	font-size: .8rem;
	font-weight: 400;
}

input::placeholder {
	color: var(--supp-highlight-contrast);
	font-family: var(--font-family-primary);
	font-size: .8rem;
	font-weight: 400;
}

.search-input-container {
	display: flex;
	background-color: #fff;
	border-radius: .5rem;
	margin-bottom: 1rem;
	align-items: center;
}

.search-input-container > rcc-icon[name="search"] {
	position: absolute;
	right: 4rem;

}

rcc-item-list ::ng-deep rcc-card:hover {
	background-color: var(--supp);
	box-shadow: var(--rcc-box-shadow-hover);
}
