<rcc-reduced-full-page
	[heading]				=		"'GLOSSARY.TITLE'"
	[subHeading]			=		"'GLOSSARY.SUBHEADING'"
	[colorCategory]			=		"['primary'	, 'secondary']"
	[colorCategorySuffix]	=		"['start'	, 'end']"
	[buttonPlacement]		=		"'end'"
	[exitAction]			=		"'home'"
>

	<div class="search-input-container" [colorCategory]="'primary'">
		<input
			type="search"
			[formControl]="filterControl"
			[placeholder]="'GLOSSARY.SEARCH_PLACEHOLDER' | translate"
			[attr.aria-label]="'GLOSSARY.SEARCH_PLACEHOLDER' | translate"
		>
		<rcc-icon name="search" size="small"></rcc-icon>
	</div>
	<p class="screen-reader-only">
		{{'GLOSSARY.SCREEN_READER' | translate}}
	</p>
	<rcc-item-list
		[items]					=		"itemGroups"
		[itemActionRoles]		=		"['details']"
		[colorCategory]			=		"'misc'"
	>
	</rcc-item-list>

</rcc-reduced-full-page>
