:host {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;

	.heading-text {
		font-size: 0.8rem;

		& > :first-child {
			font-weight: 700;
			font-size: 1rem;
			line-height: 200%;
		}
	}

	button {
		background-color: transparent;
		color: var(--main);

		&:hover {
			color: var(--main-highlight);
		}
	}
}
