@import "../../ionic/assets/ionic-styles.scss";


/**
 * Ionic CSS Variables
 */


:root {
	--ion-color-primary: 				rgb(var(--rcc-primary-rgb-main));
	--ion-color-primary-rgb: 			var(--rcc-primary-rgb-main);
	--ion-color-primary-contrast: 		rgb(var(--rcc-primary-rgb-main-contrast));
	--ion-color-primary-contrast-rgb: 	var(--rcc-primary-rgb-main-contrast);
	--ion-color-primary-shade: 			rgb(var(--rcc-primary-rgb-main-highlight));
	--ion-color-primary-tint: 			rgb(var(--rcc-primary-rgb-supp));

	--ion-color-secondary: 				rgb(var(--rcc-secondary-rgb-main));
	--ion-color-secondary-rgb: 			var(--rcc-secondary-rgb-main);
	--ion-color-secondary-contrast: 	rgb(var(--rcc-secondary-rgb-main-contrast));
	--ion-color-secondary-contrast-rgb: var(--rcc-secondary-rgb-main-contrast);
	--ion-color-secondary-shade: 		rgb(var(--rcc-secondary-rgb-main-highlight));
	--ion-color-secondary-tint: 		rgb(var(--rcc-secondary-rgb-supp));

	--ion-color-tertiary: 				rgb(var(--rcc-tertiary-rgb-main));
	--ion-color-tertiary-rgb: 			var(--rcc-tertiary-rgb-main);
	--ion-color-tertiary-contrast: 		rgb(var(--rcc-tertiary-rgb-main-contrast));
	--ion-color-tertiary-contrast-rgb: 	var(--rcc-tertiary-rgb-main-contrast);
	--ion-color-tertiary-shade: 		rgb(var(--rcc-tertiary-rgb-main-highlight));
	--ion-color-tertiary-tint: 			rgb(var(--rcc-tertiary-rgb-supp));



	--ion-color-success: 				#2dd36f;
	--ion-color-success-rgb: 			45,211,111;
	--ion-color-success-contrast: 		#ffffff;
	--ion-color-success-contrast-rgb: 	255,255,255;
	--ion-color-success-shade:			#28ba62;
	--ion-color-success-tint: 			#42d77d;

	--ion-color-warning:				#ffc409;
	--ion-color-warning-rgb: 			255,196,9;
	--ion-color-warning-contrast: 		#000000;
	--ion-color-warning-contrast-rgb: 	0,0,0;
	--ion-color-warning-shade: 			#e0ac08;
	--ion-color-warning-tint: 			#ffca22;

	--ion-color-danger: 				#eb445a;
	--ion-color-danger-rgb: 			235,68,90;
	--ion-color-danger-contrast: 		#ffffff;
	--ion-color-danger-contrast-rgb: 	255,255,255;
	--ion-color-danger-shade:			#cf3c4f;
	--ion-color-danger-tint:			#ed576b;

	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34,36,40;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1e2023;
	--ion-color-dark-tint: #383a3e;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}
