<rcc-plain-data-share-modal
	[data] 						= "qrData"
	[mode]						= "mode"
	[additionalInfoText]		= "additionalInfoText"
>

	<div
		*ngIf 		= "complete"
		class		= "ion-text-center"
		[id]        = "'SHARE_DATA.TRANSMISSION.SUCCESS' | toID: 'rcc-e2e'"

	>
		<ion-icon
			color 	= "success"
			name 	= "checkmark-circle-outline"
			size	= "large"
		></ion-icon>
		<br/>
		{{'SHARE_DATA.TRANSMISSION.SUCCESS' | translate}}
	</div>



	<div
		*ngIf	= "failed"
		class	= "ion-text-center"
		[id]	= "'SHARE_DATA.TRANSMISSION.FAILURE' | toID: 'rcc-e2e'"

	>
		<ion-icon
			color 	= "danger"
			name 	= "alert-circle-outline"
			size	= "large"
		></ion-icon>
		<br/>
		{{'SHARE_DATA.TRANSMISSION.FAILURE' | translate}}
	</div>



	<div class ="ion-text-center">

		<ion-button
			*ngIf	= "complete"
			color 	= "primary"
			(click)	= "done()"
			fill	= "solid"
			[id]	= "'SHARE_DATA.DONE' | toID: 'rcc-e2e'"

		>
			{{'SHARE_DATA.DONE' | translate}}
		</ion-button>


		<div *ngIf ="failed">

			<ion-button
				color 	= "medium"
				(click)	= "done()"
				fill	= "solid"
				[id]	= "'SHARE_DATA.CLOSE' | toID: 'rcc-e2e'"

			>
				{{'SHARE_DATA.CLOSE' | translate}}
			</ion-button>

			<ion-button
				color 	= "primary"
				(click)	= "retry()"
				fill	= "solid"
				[id]	= "'SHARE_DATA.RETRY' | toID: 'rcc-e2e'"

			>
				{{'SHARE_DATA.RETRY' | translate}}
			</ion-button>


		</div>

	</div>
</rcc-plain-data-share-modal>
