<div
	(clickOutside)="blur()"
	class="combobox-container"
	[ngClass]="{ expanded }"
>
	<div class="textbox-container">
		<input
			role="combobox"
			class="textbox"
			[readOnly]="!allowTextInput"
			[attr.aria-expanded]="expanded"
			[attr.aria-activedescendant]="activeDescendant"
			[attr.aria-controls]="listboxId"
			[attr.aria-disabled]="isDisabled"
			[attr.aria-label]="unselectedText | translate"
			#combobox
			(focus)="isDisabled ? null : open()"
			(keydown)="isDisabled ? null : handleKeydown($event)"
			[placeholder]="unselectedText | translate"
			[formControl]="typeaheadControl"
		>
		<rcc-icon name="down" size="small"></rcc-icon>
	</div>
	<div class="listbox-container" [ngClass]="{ above: showAbove }">
		<div role="listbox" [id]="listboxId" #listbox>
			<div
				*ngFor="let option of filteredOptions$ | async; let index = index"
				[id]="optionId(index)"
				[ngClass]="{ 'highlighted': isHighlighted(index) }"
				role="option"
				(click)="selectValue(option)"
				[attr.aria-selected]="isSelected(option)"
			>{{ option | translate }}</div>
		</div>
	</div>
</div>

<div class="background" [ngClass]="{ visible: expanded }"></div>
