[role="combobox"][aria-disabled="true"] {
	cursor: default;
	background-color: inherit;
	color: var(--supp-highlight);
	border-color: var(--supp-highlight);
}

.combobox-container,
.textbox-container {
	position: relative;
}
.combobox-container.expanded {
	z-index: 20;
}

input[role="combobox"] {
	cursor:				pointer;
	border:				1px solid var(--main);
	font-family:		var(--font-family-primary);
	font-size:			1rem;
	line-height:		200%;
	padding: 1rem;
	z-index: 20;
	padding: 1.25rem 1.5rem;
	width: 100%;

	&::placeholder {
		color: black;
	}

	+ rcc-icon {
		color: var(--main);
		width: 22px;
		position: absolute;
		right: 1rem;
		top: 50%;
		z-index: 21;
		pointer-events: none;
		transform: translateY(-50%);
	}

	&:hover + rcc-icon {
		color: var(--main-highlight);
	}

	&:focus-visible {
		outline: 2px solid var(--main);
	}
}

[role="combobox"]:hover {
	background-color:	var(--supp);
}

[role="combobox"]:read-only {
	outline: none;

	&::selection {
		background-color: transparent;
	}

}

.listbox-container {
	position: absolute;
	background-color: white;
	transition: height 0.2s;
	overflow: hidden;
	height: var(--height);
	width: 100%;
	user-select: none;

	[role="listbox"] {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	&.above {
		top: -1px;
		transform: translateY(-100%);
	}

	&:not(.above) {
		// Need to be able to see the bottom border of the textbox
		margin-top: 1px;
	}
}

[role="option"] {
	cursor: pointer;
	padding: 1.25rem 1.5rem;
	border: solid 1px var(--supp);
	border-top: none;
	font-family: var(--font-family-primary);
	font-weight: 700;

	&.highlighted,
	&:hover {
		background-color: var(--supp);
	}
}

.background.visible {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #444343;
	opacity: 0.3;
	pointer-events: none;
	z-index: 1;
}
