$small-breakpoint: 57.6rem; // 920px
$large-breakpoint: 90rem; // 1440px
$one-px: 0.0625rem;

@mixin mobile() {
	@media (max-width: $small-breakpoint - $one-px) {
		@content
	}
}

@mixin desktop() {
	@media (min-width: $small-breakpoint) {
		@content
	}
}

@mixin smallDesktop() {
	@media (min-width: $small-breakpoint) and (max-width: $large-breakpoint - $one-px) {
		@content
	}
}

@mixin xLarge() {
	@media (min-width: $large-breakpoint) {
		@content
	}
}