rcc-startup-contract-modal {

	.container {
		padding: 		1.25rem;
		min-height: 	calc(100dvh - 3rem);
	}

	rcc-markdown {
		font-family: 	var(--font-family-secondary);
		font-size: 		0.9rem;

		h1 {
			font-size: 			0.9rem;
			font-weight: 		600;
			margin-top: 		0.75rem;
		}

		a {
			color:				inherit;
			text-decoration:	underline;
		}
	}

	rcc-button {
		display: 		block;
		margin-top: 	1.5rem;
	}

}
