.modal-fullscreen {
    --width: 100%;
    --height: 100%;
}

.modal-mini {
    --height: fit-content;
    --width: fit-content;
    --border-radius: 0.5rem;
    --border-color: #0E0E0E;
    --border-width: 1px;
    --border-style: solid;
    --box-shadow: none;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32) !important;

    --max-height: calc(100vh - 3rem);
    --max-width: calc(100vw - 2.5rem);
    --overflow: auto;
}


.modal-fit-content {
    --height: fit-content;
    --max-height: 100%;
    --max-width: 100%;
    --overflow: auto;
}