<h2>{{'USER_MANUAL.HEADING' | translate }}</h2>
<p style="font-weight: 600">{{'USER_MANUAL.VERSION' | translate}}</p>

<p>{{'USER_MANUAL.DESCRIPTION' | translate}}</p>

<a [href]="userManualLink | async" target="_blank">{{ 'USER_MANUAL.LINK_TEXT' | translate }}</a>
