
<ion-grid class = "ion-no-padding">


	<!-- WORDING -->

	<ion-row><ion-col>

		<ion-item>

			<ion-label
				position	= "stacked"
				[id]		= "'QUESTIONS.EDIT.WORDING' | toID:'rcc-e2e'"

			>
				{{ "QUESTIONS.EDIT.WORDING" | translate }}
			</ion-label>

			<ion-input
				[formControl]   = "wordingControl"
				[placeholder]   = "'QUESTIONS.EDIT.WORDING_PLACEHOLDER' | translate"
			></ion-input>

		</ion-item>

	</ion-col></ion-row>




	<!-- ANSWER TYPE / UNIT -->

	<ion-row>

		<ion-col>

			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'QUESTIONS.EDIT.ANSWER_TYPE' | toID:'rcc-e2e'"

				>
					{{ "QUESTIONS.EDIT.ANSWER_TYPE" | translate }}
				</ion-label>

				<ion-select
					[formControl] 		= "answerTypeControl"
					interface			= "popover"
					[interfaceOptions]	= "{subHeader: ('QUESTIONS.EDIT.ANSWER_TYPE_EXPLANATION' | translate)}"
				>

					<ion-select-option
						*ngFor	= "let value of answerTypes"
						[value] = "value"
						[id]	= "'QUESTIONS.EDIT.ANSWER_TYPES.%s' | fill : value | toID:'rcc-e2e'"

					>
						{{'QUESTIONS.EDIT.ANSWER_TYPES.%s' | fill : value | translate}}
					</ion-select-option>

				</ion-select>

			</ion-item>

		</ion-col>

		<ion-col
			size = "4"
			*ngIf = "unitControl.enabled"
		>
			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'QUESTIONS.EDIT.UNIT' | toID:'rcc-e2e'"

				>
					{{ "QUESTIONS.EDIT.UNIT" | translate }}
				</ion-label>

				<ion-input [formControl] = "unitControl"></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>




	<!-- MIN/MAX -->

	<ion-row
		*ngIf = "minMaxControls.enabled"
		class = "ion-align-items-end"
	>

		<ion-col size = "3" >

			<ion-item lines="none">

				<ion-toggle [formControl] 	= "enableMinControl"></ion-toggle>

			</ion-item>

		</ion-col>

		<ion-col size = "9">

			<ion-item>

				<ion-label [id] = "'QUESTIONS.EDIT.MIN' | toID:'rcc-e2e'"
				>{{ "QUESTIONS.EDIT.MIN" | translate }}:</ion-label>

				<ion-input
					[formControl] 	= "minControl"
					type			= "number"
				></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>


	<ion-row
		*ngIf = "minMaxControls.enabled"
		class = "ion-align-items-end"
	>

		<ion-col size = "3">

			<ion-item lines="none">

				<ion-toggle [formControl] 	= "enableMaxControl"></ion-toggle>

			</ion-item>

		</ion-col>

		<ion-col size = "9">

			<ion-item>

				<ion-label [id] = "'QUESTIONS.EDIT.MAX' | toID:'rcc-e2e'"
				>{{ "QUESTIONS.EDIT.MAX" | translate }}:</ion-label>

				<ion-input
					[formControl] 	= "maxControl"
					type			= "number"
				></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>

</ion-grid>
