rcc-icon {
	display: 			inline-block;
	position:			relative;
	width:				var(--icon-dimension, 1rem);
	height:				var(--icon-dimension, 1rem);
}

rcc-icon svg {
	position:			absolute;
	top:				0;
	left:				0;
	height:				100%;
	width:				100%;
	background-color: 	transparent;
	fill:				var(--icon-fill, none);
}

rcc-icon svg [stroke] {
	stroke:				var(--icon-stroke, currentColor);
}


rcc-icon svg [fill="none"] {
	fill:				var(--icon-fill);
}

rcc-icon.icon-tiny {
	--icon-dimension:	0.5rem;
}

rcc-icon.icon-small{
	--icon-dimension:	1rem;
}

rcc-icon.icon-medium{
	--icon-dimension:	2rem;
}

rcc-icon.icon-large{
	--icon-dimension:	4rem;
}
