<rcc-monitoring-setup-modal-layout-small [formGroup]="formGroup">
	<label for="monitoring-setup-modal-input-schedule">{{ title | translate }}</label>

	<rcc-days-in-week-selector
		formControlName	= "schedule"
		groupLabel		= "{{ 'QUESTIONNAIRE_EDITOR.SCHEDULE.LABEL' | translate }}"

	></rcc-days-in-week-selector>
</rcc-monitoring-setup-modal-layout-small>
