:host {
	display: 					block;
}

rcc-icon {
	flex:						0 0 auto;
	margin-right:				1rem;
	flex:						0 0 auto;
}

a, button {
	text-align: start;
	text-decoration: 			none;
	color: 						black;
	background-color: 			transparent;
	font-size:					.8rem;
	font-family: 				var(--font-family-primary);
	display:					flex;
	align-items:				flex-start;
	justify-content:			flex-start;
	font-weight:				400;
	line-height:				1.2rem;;
}

	a:hover, button:hover, span:hover
	a:focus-visible, button:focus-visible, span:focus-visible {
		font-weight:				700;
	}
