<a
	*ngIf			=	"isLink(action); else executeAction"
	class			=	"icon"
	[ngClass]		=	"action.icon"
	[routerLink]	=	"action.path"
	(click)			=	"entryClicked.emit()"
>
	<rcc-icon
		[name]	= "action.icon"
		size	= "small"
	>
	</rcc-icon>
	<span> {{action.label | translate}} </span>
</a>

<ng-template #executeAction>
	<button
		[ngClass]	=	"action.icon"
		(click)		=	"onClick()"
	>
		<rcc-icon
			[name]	= "action.icon"
			size	= "small"
		>
		</rcc-icon>
		<span>{{action.label | translate}}</span>
	</button>
</ng-template>
