:host {
	/* set --radio-size variable so that it is bigger only in the PAT radio-select*/
	--radio-size:			2rem;
	--radio-stroke-width: 	0.5;
	--radio-gap:			2rem;
	--min-heading-lines: 	4;
	--min-height: 			28rem;

	.hidden {
		visibility: hidden;
	}
}

rcc-card {
	background:				linear-gradient(164.41deg, var(--supp-highlight) -10.67%, #FDFDFD 47.71%);
}

rcc-widget {
	width: 1rem;
}

.bottom-row {
	margin-top: 2rem;
	display:				flex;
	flex-direction: row;
	justify-content:		space-between;
}
