:host{
	background:			#000;
}

video {
	flex:				1 0 auto;
	object-fit:			cover;
	width:				100vw;
}

@keyframes fade-out {
	from {
		opacity:		1;
	}

	to {
		opacity:		0;
	}
}

.black-overlay {
	position:				fixed;
    top:					0;
    bottom:					0;
    left:					0;
    right:					0;
    background-color:		black;
    z-index:				1;
	animation-name:			fade-out;
	animation-duration:		0.5s;
	animation-fill-mode:	forwards;
}

.scan-region-highlight {
	border:				solid 2px white;
	border-radius:		8px;
	outline:			rgba(0, 0, 0, 0.5) solid 50vmax;
	// The QR scanner library sets transform: scaleX(-1); as a style
	// property on the scan region element, so we can't increase the
	// specificity to revert this; we have to use !important
	transform:			none !important;

	.scan-message {
		font-family: 	var(--font-family-secondary);
		font-size:		.8rem;
		font-weight:	400;
		color:			white;
		position:		absolute;
		transform:		translateY(-100%) translateX(-50%);
		top:			-1rem;
		left:			50%;
		width:			100%;
		text-align:		center;
	}

	.qr-controls {
		display:				flex;
		justify-content:		end;
		height:					100%;
		align-items:			flex-end;
	}

	.device-select-button {
		--button-size:			3rem;
		height:					var(--button-size);
		width:					var(--button-size);
		background-color:		transparent;
		background-repeat:		no-repeat;
		background-position:	center;
		pointer-events:			all;
	}
}

rcc-icon {
	--icon-stroke: 			var(--main-contrast);
}

.spin-wrapper {
	display:			flex;
	position:			absolute;
	top:				50%;
	left:				50%;
	width:				3rem;
	height:				3rem;
	margin-top:			-1.5rem;
	margin-left:		-1.5rem;
	align-items:		center;
	justify-content:	center;
	z-index:			1000;
	border-radius:		100%;
	background-color:	rgba(255, 255, 255, 0.4);

}

.message {
	position:			fixed;
	z-index:			90;
	top:				0.75rem;
	left:				1.25rem;

	rcc-current-date-message {
		color:			white;
	}
}

.cancel-button {
	position:			fixed;
	bottom:				3.5rem;
	left:				50%;
	transform:			translateY(-100%) translateX(-50%);
	z-index:			2;
	--button-color: var(--main-contrast);

	&:hover {
		--button-color: var(--main-highlight-contrast)
	}
}
