<rcc-full-page>

	<section mainContent>

		<rcc-scroll-to-top-button
			[colorCategory]	= "'secondary'"
		></rcc-scroll-to-top-button>

		<strong><h1>
			{{'TERMS_AND_CONDITIONS.TITLE' | translate}}
		</h1>

		<br>

		<h2>
			{{'PAGE_TITLE_PREFIX' | translate}}
		</h2>
		</strong>
		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.GENERAL.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_1_A' | translate}}<strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_B' | translate}}</strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_C' | translate}}<strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_D' | translate}}</strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_E' | translate}}<strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_F' | translate}}</strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_G' | translate}}<strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_H' | translate}}</strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_1_I' | translate}}
		</p>


		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_4' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_5' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_6' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_7' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GENERAL.1_8_A' | translate}}<strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_8_B' | translate}}</strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_8_C' | translate}}<strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_8_D' | translate}}</strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_8_E' | translate}}<strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_8_F' | translate}}</strong>{{'TERMS_AND_CONDITIONS.GENERAL.1_8_G' | translate}}
		</p>

		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.SERVICES.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_1_A' | translate}}<strong>{{'TERMS_AND_CONDITIONS.SERVICES.2_1_B' | translate}}</strong>{{'TERMS_AND_CONDITIONS.SERVICES.2_1_C' | translate}}<strong>{{'TERMS_AND_CONDITIONS.SERVICES.2_1_D' | translate}}</strong>{{'TERMS_AND_CONDITIONS.SERVICES.2_1_E' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.TITLE' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_1.TITLE' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_1.2_3_1_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_1.2_3_1_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_1.2_3_1_4' | translate}}
		</p>

		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_2.TITLE' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_2.2_3_2_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_2.2_3_2_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_2.2_3_2_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_2.2_3_2_4' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_3.2_3_2.END' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICES.2_4' | translate}}
		</p>

		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.ENTRY_REQUIREMENTS.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.ENTRY_REQUIREMENTS.3_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.ENTRY_REQUIREMENTS.3_2' | translate}}
		</p>

		<br>
		<strong><h3>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.TITLE' | translate}}
		</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_4.TITLE' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_4.4_4_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_4.4_4_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_4.4_4_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_4.4_4_4' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_5' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_6' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CUSTOMER_COOPERATION_AND_DISCLOSURE_OBLIGATIONS.4_7' | translate}}
		</p>

		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.GRANTING_RIGHTS.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.GRANTING_RIGHTS.5_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GRANTING_RIGHTS.5_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.GRANTING_RIGHTS.5_3' | translate}}
		</p>
		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.SERVICE_LEVEL_AGREEMENT.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.SERVICE_LEVEL_AGREEMENT.6_1_A' | translate}}
				<a
					class 			= "colored-link"
					[colorCategory]	= "'secondary'"
					routerLink	= "/terms-and-conditions/appendices"
				>
					{{'TERMS_AND_CONDITIONS.SERVICE_LEVEL_AGREEMENT.6_1_B' | translate}}
				</a>.
		</p><p>
			{{'TERMS_AND_CONDITIONS.SERVICE_LEVEL_AGREEMENT.6_2' | translate}}
		</p>

		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.CONTRACT_START_TERM_TERMINATION.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.CONTRACT_START_TERM_TERMINATION.7_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CONTRACT_START_TERM_TERMINATION.7_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.CONTRACT_START_TERM_TERMINATION.7_3' | translate}}
		</p>
		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.REMUNERATION.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.REMUNERATION.8_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.REMUNERATION.8_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.REMUNERATION.8_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.REMUNERATION.8_4' | translate}}
		</p>

		<br>

	<strong><h3>
		{{'TERMS_AND_CONDITIONS.LIABILITY_INDEMNIFICATION.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.LIABILITY_INDEMNIFICATION.9_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.LIABILITY_INDEMNIFICATION.9_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.LIABILITY_INDEMNIFICATION.9_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.LIABILITY_INDEMNIFICATION.9_4' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.LIABILITY_INDEMNIFICATION.9_5' | translate}}
		</p>

		<br>
	<strong><h3>
		{{'TERMS_AND_CONDITIONS.DATA_PROTECTION.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.DATA_PROTECTION.10_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.DATA_PROTECTION.10_2_A' | translate}}
			<a
				class 			= "colored-link"
				[colorCategory]	= "'secondary'"
				routerLink	= "/terms-and-conditions/appendices"
			>
				{{'TERMS_AND_CONDITIONS.DATA_PROTECTION.10_2_B' | translate}}
			</a>
			{{'TERMS_AND_CONDITIONS.DATA_PROTECTION.10_2_C' | translate}}
		</p>

		<br>
	<strong><h3>
		{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.TITLE' | translate}}
	</h3></strong>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_4' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_5.TITLE' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_5.11_5_1' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_5.11_5_2' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_5.11_5_3' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_5.11_5_4' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_5.END' | translate}}
		</p>
		<p>
			{{'TERMS_AND_CONDITIONS.FINAL_PROVISIONS.11_6' | translate}}
		</p>
		<p>
			<a
			class 			= "colored-link"
			[colorCategory]	= "'secondary'"
			routerLink		= "/terms-and-conditions/appendices"
		>
			{{'TERMS_AND_CONDITIONS.APPENDICES' | translate}}
		</a>
		</p>

		<br>

	</section>

</rcc-full-page>
