<rcc-modal-header
	[mainHeading]="'COMBINED_SESSION_REQUEST.RECEIVE_THERAPY' | translate"
	[subHeading]="'COMBINED_SESSION_REQUEST.CHOOSE_METHOD' | translate"
></rcc-modal-header>
<div class='modal-content' [colorCategory]="['primary', 'secondary']" [colorCategorySuffix]="[undefined, 'end']">
	<p>
		{{ 'COMBINED_SESSION_REQUEST.CHOICE_EXPLANATION_TEXT' | translate }}
	</p>
	<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
		<h2>{{ 'COMBINED_SESSION_REQUEST.WHAT_FEATURES_DOES_DEVICE_HAVE' | translate }}</h2>
		<rcc-radio-select
			[groupLabel]="'COMBINED_SESSION_REQUEST.WHAT_FEATURES_DOES_DEVICE_HAVE' | translate"
			formControlName="choice"
			[options]="preferenceOptions"
		></rcc-radio-select>

		<div class="checkbox-container">
			<input
				id="session-request-present-options-modal-remember-choice"
				type="checkbox"
				formControlName="rememberChoice"
			>
			<label
				for="session-request-present-options-modal-remember-choice"
			>
				{{ 'COMBINED_SESSION_REQUEST.MODAL_OPTIONS.REMEMBER' | translate }}
			</label>
		</div>

		<div class="modal-actions">
			<rcc-button
				colorCategory="secondary"
				type="button"
				(click)="closeModal()"
			>{{ 'CANCEL' | translate }}</rcc-button>
			<rcc-submit-button
				[disabled]="invalid"
			></rcc-submit-button>
		</div>
	</form>
</div>
