:host {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	font-family: var(--font-family-secondary);
}

.modal-content {
	background: linear-gradient(180deg, var(--supp), var(--supp-end));
	padding: 1.8rem 1.3rem;
}

form {
	background-color: var(--rcc-off-white);
	border-radius: 0.5rem;
	padding: 3.37rem 1.25rem;
}

rcc-radio-select {
	margin: 6rem 0;
	display: block;
}

.checkbox-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

label {
	font-size: 0.8rem;
}

h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
	line-height: 150%;
}

.modal-actions {
	display: flex;
	justify-content: space-between;
	padding: 0 0.75rem;
}

rcc-button {
	display: flex;
}
