<rcc-current-date-message
	[bold]="false"
>
	<ng-component [innerHTML]="'THEME.GREETING' | translate:{ link: '/imprint', tag }"></ng-component>
	<br>
	<a class="discreet-link" routerLink="/backup">{{'THEME.PLEASE_BACKUP' | translate}}</a>.
</rcc-current-date-message>
