<ion-content>

	<nav
		class 				= "ion-horizontal-padding"
		[attr.aria-label]	= "'SYMPTOM_CHECK_QUERIES.QUERY_RUN.NAVIGATION_HEADER.LABEL' | translate"
	>

		<!-- Close button in top left corner -->
		<ion-button
			button
			color 			= "primary"
			fill			= "clear"
			(click)			= "onCancel()"
		>
			<rcc-icon name="close"></rcc-icon>
		</ion-button>

		<!-- Pagination between questions -->
		<rcc-pagination
			[pageHandlers] 	= "pageHandlers"
			[activePage]	= "activeSlidePosition$ | async"
			class			= "ion-padding"
		>
		</rcc-pagination>

	</nav>

	<div class="background" colorCategory="create">

		<!-- Question answering + buttons on bottom -->
		<!-- queryControls = actual slides with questions on them -->
		<rcc-query-run
			[queryControls] = "queryControls"
			[slides]		= "symptomCheck?.presentation?.slides || symptomCheck?.questionIds"
			(cancel)		= "onCancel()"
			(done)			= "onDone()"
			[autosave]		= "true"
		>

			<!-- Custom final slide -->
			<!-- Count of answered questions and button for sending data -->
			<symptom-check-all-done-slide
				[allDoneToday]	= "allDoneToday"
				[doneToday]		= "doneToday"
				[totalToday]	= "totalToday"
				[doneAction]	= "doneAction"
			></symptom-check-all-done-slide>

		</rcc-query-run>

	</div>

</ion-content>
