a {
	color: currentColor;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.25rem;
	border-radius: 0.5rem;
	background-color: var(--rcc-off-white);
	box-shadow: var(--rcc-box-shadow);


}
