<rcc-full-page [colorCategory]="'secondary'">

	<section mainContent>


		<h1>
			{{'SUPPORT.TITLE' | translate}}
		</h1>

		<h2>
			{{'SUPPORT.SUPPORT' | translate}}
		</h2>

		<p class="contact-links">
			<a class="email-link" [href]="'mailto:' + ('SUPPORT.EMAIL' | translate)">{{'SUPPORT.EMAIL' | translate }}</a>
		</p>
		<p class="contact-links discreet-link">
			<a href="tel:{{'SUPPORT.TELEPHONE' | translate}}">{{'SUPPORT.TELEPHONE' | translate}}</a>
		</p>
		<p style="margin-top: 1.5rem;">
			{{'SUPPORT.DISCLAIMER' | translate}}
		</p>

		<br>

		<rcc-action-button
			[action]="gotoSupportFormAction"
			buttonSize="full"
		></rcc-action-button>

		<br>

		<h2>
			{{'SUPPORT.CRISIS_TITLE' | translate}}
		</h2>

		<p class="crisis-links" [innerHTML]="'SUPPORT.CRISIS' | translate">
		</p>

		<br>

		<rcc-user-manual-section></rcc-user-manual-section>

	</section>

</rcc-full-page>
