.font-bold {
    font-weight: bold;
}

.schedule-select {
	display: flex;
	justify-content: space-between;
	font-family: var(--font-family-primary);
	font-size: 0.9rem;
	margin: 2rem 1.2rem;
	padding: 1.1rem 0;
	border-top: solid 1px var(--main);

	button {
		background-color: transparent;
	}

	rcc-icon {
		color: black;
	}

	&:hover rcc-icon {
		--icon-fill: var(--main);
		color: white;
	}
}

.schedule-button {
	color: var(--main);
}

rcc-pull-down-select[medication] {
    display: block;
    margin-top: 1rem;
}

rcc-edit-text[dosage] {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    --textarea-indent: 1.5rem;
}

rcc-widget {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}