@use "sass:math";

@mixin highlightedDay {
	--mixin: 'highlightedDay';
	background-image: radial-gradient(var(--supp), var(--supp) 15.5px, transparent 16px);
	background-size: 32px 32px;
}

@mixin intermediateHighlightedDay {
	--mixin: 'intermediateHighlightedDay';
	background-image: linear-gradient(transparent, var(--supp) 0.5px, var(--supp) 31.5px, transparent 32px);
	background-size: 100% 32px;
}

@mixin firstHighlightedDay {
	--mixin: 'firstHighlightedDay';
	background-image:   radial-gradient(var(--supp), var(--supp) 15.5px, transparent 16px),
						linear-gradient(transparent, var(--supp) 0.5px, var(--supp) 31.5px, transparent 32px);
	background-size: 32px 32px, 50% 32px;
	background-position: center, right center;
}

@mixin lastHighlightedDay {
	--mixin: 'lastHighlightedDay';
	background-image:   radial-gradient(var(--supp), var(--supp) 15.5px, transparent 16px),
						linear-gradient(transparent, var(--supp) 0.5px, var(--supp) 31.5px, transparent 32px);
	background-size: 32px 32px, 50% 32px;
	background-position: center, left center;
}
.rcc-date-picker {
	display: block;
	position: relative;
	font-family: var(--font-family-primary);
	width: 100%;
	max-width: 306px;

	> button {
		width: 100%;
		font-family: inherit;
		border: 1px solid var(--main);
		padding: 0.5rem 1rem;
		background-color: white;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: end;
	}
	button:focus-visible {
		outweek-color: var(--main);
	}
}
.date-picker-controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 306px;
	border: 1px solid var(--main);
	z-index: 20;
	background-color: white;
	padding: 1rem;

	.month {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		.month-toggles {
			display: flex;
		}
	}

	.current-month {
		padding-left: 0.5rem;
		font-weight: 600;
		color: var(--main);
	}
}
.day-header,
.day-container {

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	> span, > button {
		flex-basis: #{math.div(100%, 7)};
		text-align: center;
	}

	.day {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
.day-header {
	margin: 1.5rem 0 1rem;
	font-size: 0.5rem;
}
button.btn-prev,
button.btn-next {
	background-color: transparent;
	margin-left: 1.5rem;
	color: var(--main);

}

button.day {
	flex-basis: #{math.div(100%, 7)};
	background-color: transparent;
	height: 2rem;
	margin: 0.125rem 0;
	background-position: center;
	background-repeat: no-repeat;

	&:first-of-type {
		margin-left: calc(100% / 7 * var(--first-day-offset));
	}
	&:not(:disabled):hover,
	&:not(:disabled).-today,
	&.-selected {
		color: var(--main-highlight);
		font-weight: 700;
	}

	&:not(:disabled).-highlight {
		color: var(--main)
	}

	&.-selected,
	&.-in-interval.-first-of-week.-last-in-interval {
		@include highlightedDay;
	}

	&.-in-interval + .-in-interval:not(.-first-of-week):not(.-last-of-week):not(.-last-in-interval):not(:last-of-type) {
		@include intermediateHighlightedDay;
	}

	&.-first-in-interval:not(.-last-of-week):not(.-last-in-interval):not(:last-of-type),
	&:first-of-type.-in-interval:not(.-last-in-interval):not(.-last-of-week),
	&.-in-interval.-first-of-week:not(.-last-in-interval):not(:last-of-type) {
		@include firstHighlightedDay;
	}

	&.-last-in-interval:not(.-first-of-week):not(.-first-in-interval):not(:first-of-type),
	&:last-of-type.-in-interval:not(.-first-in-interval):not(.-first-of-week),
	&.-in-interval.-last-of-week:not(.-first-in-interval):not(:first-of-type) {
		@include lastHighlightedDay;
	}

	span.day-label {
		display: block;
		font-size: 0.5rem;
		font-weight: 400;
		color: rgb(var(--rcc-rgb-black-default));
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #444343;
	opacity: 0.3;
	pointer-events: none;
	z-index: 19;
}

rcc-action-button .next-button {
	z-index: 10 !important;
}
