<div class="rcc-date-picker" (clickOutside)="close()">
	<button (click)="open()" [disabled]="isDisabled || expanded">
		{{ value | translate : { year: 'numeric', month:'2-digit', day: '2-digit' } }}
		<rcc-icon name="calendar" size="small"></rcc-icon>
	</button>
	<div
		*ngIf="days.length && expanded"
		class="date-picker-controls"
		role="dialog"
		[attr.aria-label]="'THEME.DATE_PICKER_DIALOG_NAME' | translate"
	>
		<div class="month">
			<span class="current-month">
				{{ currentDate | translate:{ month: 'long', year: 'numeric' } }}
			</span>
			<div class="month-toggles">
				<button
					(click)="prevMonth()"
					class="btn-prev"
					[attr.aria-label]="'THEME.DATE_PICKER_PREV_MONTH' | translate"
				>
					<rcc-icon name="previous" size="small"></rcc-icon>
				</button>
				<button
					(click)="nextMonth()"
					class="btn-next"
					[attr.aria-label]="'THEME.DATE_PICKER_NEXT_MONTH' | translate"
				>
					<rcc-icon name="next" size="small"></rcc-icon>
				</button>
			</div>
		</div>
		<div class="day-header">
			<span *ngFor="let n of [0,1,2,3,4,5,6]">
				{{ 'SCHEDULES.DAYS_SHORT.%1' | fill:n+'' | translate}}
			</span>
		</div>
		<div
			class="day-container"
			(click)="dayClicked($event); $event.stopImmediatePropagation()"
			[attr.data-offset]="firstDayOffset"
			[ngStyle]="{
				'--first-day-offset' : firstDayOffset
			}"
		>
			<button
				*ngFor="let day of days; let $i = index; trackBy:trackFn"
				[attr.data-day]="day.formatted"
				[attr.aria-label]="day.date | translate"
				type="button"
				class="day"
				[disabled]="day.disabled"
				[ngClass]="{
					'-selected'         : day.isSelected,
					'-in-interval'      : day.inInterval,
					'-first-in-interval': day.firstInInterval,
					'-last-in-interval' : day.lastInInterval,
					'-today'            : day.isToday,
					'-highlight'        : day.label?.highlight,
					'-first-of-week'    : day.weekday === 0,
					'-last-of-week'     : day.weekday === 6
				}"
			>
				{{ $i + 1 | number:'2.0' }}
				<span
					*ngIf="day.label"
					class="day-label"
				>
					{{ day.label.content }}
				</span>
			</button>
		</div>
	</div>
</div>
<div class="background" *ngIf="expanded"></div>
