<rcc-meta-store-header
	[metaStore] 	= "reportMetaStoreService"
	[filterControl]	= "filterControl"
>
</rcc-meta-store-header>


<ion-content [fullscreen] = "true">

	<rcc-meta-store [metaStore] = "reportMetaStoreService"></rcc-meta-store>

</ion-content>
