rcc-card {
	min-width:			21rem;
	min-height:			23rem;
}

rcc-card ::ng-deep .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	margin: 2rem;

	button {
		background-color: transparent;
		font-size: 1rem;
		color: var(--main);
		font-family: var(--font-family-primary);
		font-weight: 700;
	}

}

rcc-radio-select ::ng-deep div[role="radio"] .icon-wrapper svg {
	height: 2rem !important;

	circle {
		stroke-width: 0.5;
	}
}
