<rcc-reduced-full-page
	[heading] 					=	"HEADING"
	[subHeading]				=	"SUBHEADING"
	[mainContentDescription]	=	"EXPLANATION"
	[colorCategory]				=	"['share'	, 'receive']"
	[colorCategorySuffix]		=	"['start'	, 'end']"
	[buttonPlacement]			=	"'end'"
	[exitAction]				=	"cancelAction"

>
	<rcc-card
		class="contains-button"
		[heading]="QUESTION | translate"
	>
		<rcc-radio-select
			[groupLabel]="QUESTION | translate"
			[formControl]="switchCameraControl"
			[options]="options"
			colorCategory="primary"
		></rcc-radio-select>

		<div class="form-actions">

			<button
				(click)="cancel()"
				colorCategory="secondary"
			>{{ 'CANCEL' | translate }}</button>

			<rcc-fab
				(click) = "submit()"
				name = "check_mark"
				colorCategory = "primary"
				[disabled] = "this.switchCameraControl.value === null"
			></rcc-fab>
		</div>
	</rcc-card>

</rcc-reduced-full-page>
