button {
	display:					block;
	font-family:				var(--font-family-primary);
	font-weight: 				700;
	font-size:					1rem;
	padding: 					0 1rem;
	margin:						auto;
	color:						var(--main-contrast);
	background-color:			transparent;
}
