ion-content::part(scroll){
    display:			flex;
    flex-direction:		column;
    align-items:		center;
    justify-content:	center;
}

ion-content * {
    text-align:			center;
    margin:				1rem 0;
}
