<ion-content [fullscreen] = true>

	<div *ngIf = "questionIds?.length === 0">
		<h1 class = "ion-padding">{{'DUE_QUESTIONS.NOTHING_DUE'| translate}}</h1>

		<div class ="ion-text-center ion-padding ">
			<ion-button
				routerLink = "/"
			>
				<ion-label>
					{{'CANCEL' | translate}}
				</ion-label>
			</ion-button>
		</div>
	</div>

	<div *ngIf = "questionIds?.length > 0">

		<h1
			class	= "ion-padding"
			[id]	= "'DUE_QUESTIONS.DUE_FOR' | toID:'rcc-e2e'"
		>
			{{'DUE_QUESTIONS.DUE_FOR' | translate}}
		</h1>

		<rcc-item-list>
			<rcc-list-item-tag
				*ngFor 					= "let symptomCheck of symptomChecks"
				[item]					= "symptomCheck"
				[itemActionRoles]		= "['details']"

			>
			</rcc-list-item-tag>
		</rcc-item-list>

	</div>

	<ion-fab
		vertical	= "bottom"
		horizontal	= "start"
		slot		= "fixed"
	>
		<ion-fab-button
			routerLink 	= "/"
			color 		= "medium"
			size 		= "small"
		>
			<ion-icon [name] = "'close' | rccIcon">
			</ion-icon>
		</ion-fab-button>
	</ion-fab>


	<ion-fab vertical="bottom" horizontal = "center" slot="fixed">
		<ion-fab-button
			color 		= "primary"
			routerLink 	= "/query-run"
			[state]		= "{ids:questionIds}"
		>
			<ion-icon
				[name] 		= "'next' | rccIcon"
			>
			</ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
