::ng-deep .container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
}

::ng-deep main {
	background-color: var(--supp-background);
}

.main-content {
	max-width: var(--rcc-content-width);
	align-self: center;
	width: 100%;
	padding: 0 var(--rcc-padding);
}