<rcc-full-page [colorCategory]="['create', 'share']" [colorCategorySuffix]="[undefined, 'background']">
	<div headingContent>
		<rcc-segment [options]="segmentOptions" [formControl]="formControl"></rcc-segment>
	</div>

	<div class="main-content" mainContent>
		<rcc-resource-overview *ngIf="resourceMode" [editMode]="editMode"></rcc-resource-overview>

		<rcc-crisis-pass-overview *ngIf="crisisPassMode"></rcc-crisis-pass-overview>
	</div>

	<div footerContent *ngIf="resourceMode">
		<rcc-action-button
			[action]="switchEditModeAction"
			buttonSize="medium"
		></rcc-action-button>
	</div>
</rcc-full-page>
