:host > div {
	position:					relative;
	display:					flex;
	flex-direction:				column;
	align-items:				center;
}

/* Colored area around full-size buttons */
.card {
	padding:					3rem 1rem 0.5rem;
	background: 				var(--supp);
    box-shadow:					0px 0px 1rem rgb(232, 235, 235);
	color:						var(--background-text);
}

.button {
	background-color:			var(--main);
	border-radius:				10rem;
	font-family:				var(--font-family-primary);
	font-weight: 				700;
	font-size:					1rem;
	padding: 					0 1rem;
	height:						3.375rem;
	min-width:					15.5rem;
	max-width:					100%;
	color:						var(--main-contrast);
	overflow:					hidden;
	text-overflow: 				ellipsis;
	white-space: 				nowrap;
	transition: 				transform 300ms;
	display:					flex;
	justify-content:			center;
	align-items:				center;
	text-decoration:			none;
}

button:disabled, a:disabled,
button:active:not(:disabled),
button:hover, a:hover {
	background-color:			var(--main-highlight);
	color:						var(--main-highlight-contrast);
}

button:active:not(:disabled) {
	transform: 					scale(.93);
}

.icon {
	height:						3.5rem;
	width:						3.5rem;
	margin-bottom:				2rem;
}

.description {
	font-family:				var(--font-family-secondary);
	font-size:					0.8rem;
	font-weight:				350;
	line-height:				1rem;
	height:						2rem;
	overflow:					hidden;
	text-overflow:				clip;
	margin:						.5rem;
}

.icon-button {
	height:						var(--icon-dimension, 2rem);
	width:						var(--icon-dimension, 2rem);
	border-radius:				50%;
	background-color:			var(--main);
	color:						var(--main-contrast);

	display:					flex;
	justify-content:			center;
	align-items:				center;
}

.icon-button.disabled,
.icon-button[disabled] {
	background-color:			var(--supp);
	color:						var(--supp-contrast);
	border:						solid 1px var(--main);
}
