[role=radiogroup] {
	display:				flex;
	border:					solid 1px var(--main);
	--border-radius:		1rem;
	border-radius: 			var(--border-radius);
	line-height:			1.625rem;
	justify-content:		space-around;
	overflow:				hidden;
	font-weight:			600;
	font-family:			var(--font-family-primary);
	font-size:				0.8rem;

	[role=radio] {
		flex-grow:			1;
		text-align:			center;
		border-radius:		var(--border-radius);
		cursor:				pointer;

		&[aria-checked="true"] {
			background-color:	var(--main);
			color:				var(--main-contrast);
		}
	}
}
