<rcc-meta-store-header
	[metaStore] 	= "questionnaireService"
	[filterControl]	= "filterControl"
>
</rcc-meta-store-header>

<ion-content [fullscreen] = "true">

		<rcc-meta-store
			[metaStore] 	= "questionnaireService"
			[filterControl]	= "filterControl"
			id				= "rcc-e2e-questionnaire-store"
		>
		</rcc-meta-store>

</ion-content>
