<ng-template>
	<ion-menu-button autoHide="false" (click)="onMenuClick()"></ion-menu-button>	
	<div class = "pin">
		<ion-badge color = "secondary">{{ notificationService.notification$ | async }}</ion-badge>
	</div>
</ng-template>