:host,
form {
	height: 100%;
	min-width: 336px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem;
	font-size: .9rem;
	font-family: var(--font-family-primary);
}

.form-content {
	display: flex;
	flex-direction: column;
}

.form-actions {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;

	button {
		background-color: transparent;
		font-size: 1rem;
		color: var(--main);
		font-family: var(--font-family-primary);
		font-weight: 700;
	}
}

::ng-deep label {
	display: block;

	&+ .form-control {
		margin-top: 1rem;
		height: 3rem;
	}
}
