:host {
	display: 				flex;
	flex-direction: 		column;
	box-sizing: 			border-box;
	padding: 				var(--padding, 1.25rem);
	--background-color:		#FFF;
	--font-size: 			1rem;
	min-height:				var(--min-height, 0rem);
	background-color: 		var(--background-color);
	border-radius: 			.5rem;
	box-shadow: 			var(--rcc-box-shadow);
	--heading-height:		calc(var(--min-heading-lines, 3) * var(--heading-line-height, 1.5) * var(--font-size, 1rem));

	position:				relative;

	&.bare {
		padding: 				0;

		> div:nth-child(1) {
			display: 				flex;
			align-items: 			center;
			flex-direction: 		column;
			justify-content:		center;
			margin-top: 			0 !important;
			width:					100%;
		}
	}

	button,
	.button-replacement {
		display:				inline-block;
		line-height:			0;
		stroke: 				#000;
		background-color:		transparent;
	}

	> .pre-heading-wrapper {
		padding-bottom: var(--padding, 1.25rem);
	}

	> .heading {
		position: 			relative;
		flex:				0 0 auto;
		box-sizing: 		border-box;
		line-height: 		var(--heading-line-height, 1.5);
		min-height: 		var(--heading-height);
		font-size: 			var(--font-size);
		padding: 			0rem;
		font-weight: 		600;
		font-family: 		var(--font-family-secondary);
		color: 				#000;
		margin-bottom:		1rem;
	}

	button.primary-action,
	.button-replacement.primary-action {
		display:			flex;
		justify-content:	center;
		align-items:		center;
		position: 			absolute;
		top:				var(--padding, 1rem);
		right:				var(--padding, 1rem);
	}

	button.primary-action:hover > rcc-icon,
	.button-replacement.primary-action:hover > rcc-icon {
		--icon-stroke:		var(--main-highlight-contrast);
		--icon-fill:		var(--main-highlight);
	}

	> .heading + div {
		margin-top:			1rem;
		position:			relative;
		font-family: 		var(--font-family-secondary);
	}

	> div > button {
		position: 			absolute;
		bottom:				0;
		height:				2rem;
		width:				2rem;
		right:				0;
	}

	&.with-primary-action > .heading,
	&.with-secondary-action > .card-body {
		padding-right: 		2rem;

		button:hover > rcc-icon {
			--icon-fill:	var(--main-highlight);
			stroke:			var(--main-highlight-contrast);
		}
	}

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(var(--min-height, 0rem) - var(--heading-height) - 5*var(--padding, 1.35rem));
	}

	&.with-secondary-action > .card-body {
		position: relative;
	}

	> div {
		flex: 				1 0 auto;
		font-size: 			var(--font-size);
	}

	> .note {
		flex:				0 0 auto;
		margin-top:			1rem;
		border-top-color:	var(--main);
		border-top-width:	1px;
		border-top-style:	solid;
		color:				var(--main);
		padding-top:		.8rem;
		font-size: 			var(--font-size);
	}
}
