<div
	class = "pre-heading-wrapper"
>
	<ng-content select="[preHeading]"></ng-content>
</div>

<div
	*ngIf = "heading"
	class = "heading"
	(click)="headingClick.emit()"
>
	<div class="heading-text">{{heading}}</div>
</div>

<button
	*ngIf				=	"showPrimaryAction && !primaryIcon"
	class				=	"primary-action"
	(click)				=	"actionService.execute(primaryAction)"
	[attr.aria-label]	=	"primaryAction?.label | translate"
	[title]				=	"primaryAction?.label | translate"
	[attr.inert]		=	"primaryActionInert ? primaryActionInert : null"
>
	<rcc-icon [name] = "primaryAction.icon" size = "small"></rcc-icon>
</button>

<div
	*ngIf				=	"primaryIcon"
	class				=	"button-replacement primary-action"
>
	<rcc-icon [name] = "primaryIcon" size = "small"></rcc-icon>
</div>

<div
	class="card-body"
>
	<ng-content ></ng-content>
	<button
		class="secondary-action"
		*ngIf="showSecondaryAction"
		(click)="actionService.execute(secondaryAction)"
		[attr.aria-label]="secondaryAction.label | translate"
		[title]="secondaryAction.label | translate"
	>
		<rcc-icon [name]="secondaryAction.icon" size="medium"></rcc-icon>
	</button>
</div>

<div
	*ngIf = "note"
	class = "note"
>
	{{note}}
</div>

<div
	class="bottom-row"
>
	<ng-content select="[bottomRow]"></ng-content>
</div>
