<rcc-current-date-message
	[bold]="true"
	headingContent
>{{ headingMessage }}</rcc-current-date-message>

<div class='main-content'>
	<ng-content></ng-content>
</div>

<rcc-button class="cancel-button" (click)="close()">{{ 'CANCEL' | translate }}</rcc-button>
