:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1.5rem;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.cancel-button {
	font-weight: 700;
	font-size: 1rem;
	line-height: 200%;
	background-color: transparent;
}
