<ion-grid class="ion-no-padding">
	<ion-row *ngIf="wordingControl?.enabled">
		<ion-col>
			<ion-item>
				<ion-label
					position = "stacked"
					[id]     = "'QUESTIONS.EDIT.WORDING' | toID:'rcc-e2e'"
				>
					{{ "QUESTIONS.EDIT.WORDING" | translate }}
				</ion-label>
				<ion-input
					[formControl] = "wordingControl"
					[placeholder]   = "'QUESTIONS.EDIT.WORDING_PLACEHOLDER' | translate"
				></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>

	<ng-container *ngIf="optionControls.enabled">
		<ion-row class = "ion-padding"></ion-row>

		<rcc-choice-option-item
			*ngFor              = "let optionControl of optionControls.controls"
			[formGroup]         = "optionControl"
			[optionValueType]   = "optionValueType"
			[showRemoveButton]  = "false"
			[valueReadonly]     = "true"
		></rcc-choice-option-item>
	</ng-container>
</ion-grid>
