:host {
	display: flex;
	justify-content: center;
}
form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 20rem;
}

form div {
	margin-bottom: 10px;
	width: 100%;
}

label {
	display: block;
	font-weight: 500;
	margin-bottom: .3125rem;
	color: var(--main);
}

.pull-down-label {
	margin-bottom: -.8rem;
}
.pull-down-label:nth-child(1) {
	margin-top: .4rem;
}
input,
textarea {
	border-style: none;
	background-color: transparent;
	font-weight: 400;
	border-radius: .2rem;
}
input[type=text].ng-focus {
	border: .5px solid var(--main);
}
input:not([value = ""]){
	color: var(--supp-highlight-contrast) !important;
	background-color: var(--main-contrast) !important;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, input[role="combobox"].ng-invalid.ng-touched {
	border: 1px solid var(--main) !important;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.error-message {
	font-size: .8rem;
	color: var(--main);
}

input[type="text"],
input[type="email"],
.textarea-wrapper {
	padding: .5rem;
	border: 1px solid #ccc;
	width: 100%;
}

.textarea-wrapper {
	display: flex;
	flex-direction: column;
}
.textarea-wrapper textarea {
	display: block;
	padding-bottom: .5rem;
}

.textarea-wrapper .debug-info-text {
	border-top: dashed 1px #ccc;
	padding-top: .5rem;
	font-weight: 400;
	font: monospace;
	overflow-x: scroll;
	white-space: pre;
	height: 5rem;

}

.checkbox-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 1rem;
}


.debug-field {
	display: block;
	font-size: .8rem;
	margin-top: 1rem;
}

.debug-field label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.debug-info-details {
	background-color: var(--supp);
	padding: .5rem;
	border-radius: .2rem;
}

.debug-info-label {
	font-weight: 600;
}
.debug-info-text {
	opacity: .8;
	margin-bottom: .3rem;
	border-bottom: 1px solid var(--supp-highlight-contrast);
}
.debug-info-text-last-child {
	border: none;
}


.additional-field {
	border-top: none !important;
	border-radius: 0rem 0rem .25rem .25rem !important;
	z-index: 0;
	resize: vertical;
	overflow: auto;
}

.additional-field-container {
	z-index: -1;
}

.message-container {
	margin-bottom: -.5rem !important;
}

rcc-button {
	margin-top: 2rem;
}
::ng-deep button[type="button"] {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: start;
	margin: 0rem 0rem 0rem 0rem !important;
	padding: 0rem !important;
}
rcc-button ::ng-deep button[type="submit"] {

	cursor: pointer;

	background-color:			var(--main);
	border-radius:				10rem;
	font-family:				var(--font-family-primary);
	font-weight: 				700;
	font-size:					1rem;
	padding: 					0 1rem;
	height:						3.375rem;
	min-width:					15.5rem;
	max-width:					100%;
	color:						var(--main-contrast);
	overflow:					hidden;
	text-overflow: 				ellipsis;
	white-space: 				nowrap;
	transition: 				transform 300ms;
	display:					flex;
	justify-content:			center;
	align-items:				center;
	text-decoration:			none;
}
rcc-button ::ng-deep button[type="submit"]:hover {
	background-color:			var(--main-highlight);
	color:						var(--main-highlight-contrast);
}

rcc-button.disabled ::ng-deep button {
	opacity: .5;
	cursor: not-allowed;

	background-color:			var(--main);
	border-radius:				10rem;
	font-family:				var(--font-family-primary);
	font-weight: 				700;
	font-size:					1rem;
	padding: 					0 1rem;
	height:						3.375rem;
	min-width:					15.5rem;
	max-width:					100%;
	color:						var(--main-contrast);
	overflow:					hidden;
	text-overflow: 				ellipsis;
	white-space: 				nowrap;
	transition: 				transform 300ms;
	display:					flex;
	justify-content:			center;
	align-items:				center;
	text-decoration:			none;
}

rcc-pull-down-select[area] {
	display: block;
	margin-top: 1rem;

}
rcc-pull-down-select[area] ::ng-deep .combobox-container .listbox-container {
	height: 10rem;
}

rcc-pull-down-select[area] ::ng-deep .combobox-container .textbox-container rcc-icon {
	z-index: 0;
}

.details-trigger {
	cursor: pointer;
}
