<div role="radiogroup" [attr.aria-label]="groupLabel" [attr.aria-describedby]="describedBy">
    <div
        *ngFor="let option of options; let index = index"
        [id]="id(index)"
        [ngClass]="{ selected: isSelected(option.value), disabled: isDisabled }"
        [attr.aria-checked]="isSelected(option.value)"
        role="radio"
        [attr.tabindex]="isTabbable(option.value, index) ? '0' : '-1'"
        (click)="isDisabled ? null : selectOption(option.value)"
        (keydown)="isDisabled ? null : handleKeydown($event, index)"
        [attr.aria-disabled]="isDisabled"
    >
        <div class="icon-wrapper">

            <!-- this is a hack so we have the correct line height -->
            <div class="hidden">-</div>

            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="7" fill="white" stroke="black"/>
                <circle class="fill-indicator" cx="8" cy="8" r="4" />
            </svg>
        </div>
        {{ option | translate }}
    </div>
</div>
