[role="radiogroup"] {
	display: flex;
	flex-direction: column;
	gap: var(--radio-gap, 1rem);
	font-family: var(--font-family-secondary);
}

[role="radio"] {
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;

	.fill-indicator {
		display: none;
	}

	&.selected {
		.fill-indicator {
			display: inline;
			fill: var(--main);
		}
	}

	.icon-wrapper {
		height: fit-content;
		flex-shrink: 0;

		display: flex;
		align-items: center;

		.hidden {
			width: 0;
			visibility: hidden;
			white-space: nowrap;
		}

		svg {
			height: var(--radio-size, 1rem);
			stroke-width: var(--radio-stroke-width, 1);
		}
	}

	&.disabled {
		pointer-events: none;
	}
}
