<div
	class 			= "banner"
	*ngIf			= "bannerMarkdown"
	[colorCategory] = "bannerColor || 'tertiary'"
>
	<rcc-markdown
		[content] 	= "bannerMarkdown"
		[inline]	= "true"
	></rcc-markdown>
</div>

<div class="container">

	<header>
		<div class="header-bar">
			<a [routerLink]="'/'">
				<rcc-logo size="full"></rcc-logo>
			</a>
			<button
				class="main-menu"
				(click)="onMenuClick()"
				[attr.aria-label]	= "'MAIN_MENU_BUTTON' | translate"
				colorCategory		= "secondary"
			>
				<rcc-icon name="hamburger" size="medium"></rcc-icon>
			</button>
		</div>


		<ng-content select="[headingContent]"></ng-content>
	</header>
	<main class="full-page-content">
		<ng-content select="[mainContent]"></ng-content>
	</main>
	<footer class="footer">
		<ng-content select="[footerContent]"></ng-content>
	</footer>
</div>
