@import 'bengal/mixins/breakpoints';

rcc-full-page {
	display: block;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;


	.banner {
		display: block;

		background-color:	var(--main);
		color:				var(--main-contrast);

		> * {
				display:		block;
				max-width: 		var(--rcc-content-width);
				margin-left: 	auto;
				margin-right:	auto;
				padding:		0.5rem;
				text-align:		center;
		}


		rcc-markdown {

			font-size:		0.8rem;

			font-family:	var(--font-family-secondary);
			font-weight:	400;

			strong {
				font-weight:		600;
			}

			a {
				color:				inherit;
				text-decoration:	underline;
			}


		}

	}


	.header-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;

		button.main-menu:focus-visible {
			background-color: inherit;
			outline: .125rem solid var(--main);
			outline-offset: .125rem;
			border-radius: .125rem;
		}
		button.main-menu {
			background-color: inherit;
			line-height: 0rem;

			rcc-icon {
				--icon-fill: var(--main);

				&:hover {
					--icon-fill: var(--main-highlight);
				}
			}
		}
	}

	.container {
		height: 100%;
		padding: var(--rcc-padding);
		display: grid;
		grid-template-rows: max-content 1fr max-content;
		grid-template-columns: 100%;
	}

	header {
		margin: 0 auto;
		margin-bottom: 2.5rem;
		max-width: var(--rcc-content-width);
		width: 100%;

		@include desktop {
			width: var(--rcc-content-width);
			padding: 0;
		}
	}

	footer:not(:empty) {
		padding-top:			2rem;
		padding-bottom: 		2.875rem;
		padding-left:			var(--rcc-padding);
		padding-right:			var(--rcc-padding);
		display:				flex;
		flex-direction:			column;
		gap:					2rem;
	}

	footer:empty {
		display: none;
	}

	.full-page-content {
		display: flex;
		flex-direction: column;
	}

}
