<ion-grid class = "ion-no-padding">


	<!-- WORDING -->

	<ion-row *ngIf = "wordingControl.enabled"><ion-col>

		<ion-item>

			<ion-label
				position    = "stacked"
				[id]		= "'QUESTIONS.EDIT.WORDING' | toID:'rcc-e2e'"

			>{{ "QUESTIONS.EDIT.WORDING" | translate }}</ion-label>

			<ion-input
				[formControl]   = "wordingControl"
				[placeholder]   = "'QUESTIONS.EDIT.WORDING_PLACEHOLDER' | translate"
			></ion-input>

		</ion-item>

	</ion-col></ion-row>




	<!-- MIN/MAX -->

	<ion-row
		*ngIf = "minMaxControls.enabled"
		class = "ion-align-items-end"
	>

		<ion-col size = "4">

			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'QUESTIONS.EDIT.MIN' | toID:'rcc-e2e'"

				>
					{{ "QUESTIONS.EDIT.MIN" | translate }}:
				</ion-label>

				<ion-input
					[formControl] 	= "minControl"
					type			= "number"
				></ion-input>

			</ion-item>

		</ion-col>

		<ion-col size = "4">

			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'QUESTIONS.EDIT.MAX' | toID:'rcc-e2e'"

				>
					{{ "QUESTIONS.EDIT.MAX" | translate }}:
				</ion-label>

				<ion-input
					[formControl] 	= "maxControl"
					type			= "number"
				></ion-input>

			</ion-item>

		</ion-col>

		<ion-col size = "4">

			<ion-item>

				<ion-label
					position	= "stacked"
					[id]		= "'BASIC_QUESTION_EDIT_WIDGETS.SCALE.STEP_SIZE.LABEL' | toID:'rcc-e2e'"

				>
					{{ "BASIC_QUESTION_EDIT_WIDGETS.SCALE.STEP_SIZE.LABEL" | translate }}:
				</ion-label>

				<ion-input
					[formControl] 	= "stepSizeControl"
					type			= "number"
				></ion-input>

			</ion-item>

		</ion-col>

	</ion-row>



	<!-- USE LABELS -->

	<ion-row><ion-col>

		<ion-item>

			<ion-label	[id]	= "'BASIC_QUESTION_EDIT_WIDGETS.SCALE.USE_LABELS'| toID:'rcc-e2e'"
			>{{ "BASIC_QUESTION_EDIT_WIDGETS.SCALE.USE_LABELS" | translate }}</ion-label>

			<ion-checkbox
				[formControl] 	= "useLabelsControl"
				slot			= "end"
			></ion-checkbox>

		</ion-item>

	</ion-col></ion-row>

	<!-- OPTIONS -->

	<ng-container *ngIf = "optionControls.enabled">

		<ion-row class = "ion-padding"></ion-row>

		<ion-row><ion-col>

			<ion-item
				[button] 	= "true"
				(click)		= "addOption()"
				lines		= "full"
			>

				<ion-label	[id] = "'QUESTIONS.EDIT.OPTIONS.ADD' | toID:'rcc-e2e'"
				>{{ "QUESTIONS.EDIT.OPTIONS.ADD" | translate }}</ion-label>

				<ion-icon
					[name] 	= " 'add' | rccIcon"
					slot	= "end"
				></ion-icon>

			</ion-item>


		</ion-col></ion-row>


		<ion-row
			*ngFor 		= "let optionControl of optionControls.controls"
			[formGroup] = "optionControl"
			class 		= "ion-align-items-end"
		>

			<ion-col size = "3">


				<!-- number option -->
				<ion-item lines = "full" *ngIf = "optionValueType === 'number'">
					<ion-label
					 	position	= "stacked"
						 [id]		= "'QUESTIONS.EDIT.OPTIONS.VALUE' | toID:'rcc-e2e'"

					 >
						{{ "QUESTIONS.EDIT.OPTIONS.VALUE" | translate }}
					</ion-label>
					<ion-input
						formControlName = "value"
						type 			= "number"
						autofocus		= "true"
					></ion-input>
				</ion-item>

			</ion-col>


			<ion-col size = "7">

				<ion-item lines = "full">
					<ion-label
						position	= "stacked"
						[id]		= "'QUESTIONS.EDIT.OPTIONS.LABEL' | toID:'rcc-e2e'"

						>
						{{ "QUESTIONS.EDIT.OPTIONS.LABEL" | translate }}
					</ion-label>
					<ion-input formControlName =  "label"></ion-input>
				</ion-item>

			</ion-col>

			<ion-col size = "2">

				<ion-item
					lines 		= "full"
					[button] 	= "true"
					(click) 	= "removeOption(optionControl)"
				>
					<ion-icon
						[name]	= "'remove' | rccIcon"
						slot	= "end"
					></ion-icon>
				</ion-item>

			</ion-col>

		</ion-row>

	</ng-container>



</ion-grid>
