:host {
	--line-height: 2rem;
	--disabled-color: #D6D9D9;
	display: contents;
	font-size: .8rem;
	font-family: var(--font-family-primary);
}

.background-container {
	padding: var(--line-height) 0;
	position: relative;
}

.background {
	position: absolute;
	inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 96'%3E%3Crect width='96' height='32' fill='white' /%3E %3Crect width='96' height='32' fill='white' y='64' /%3E %3C/svg%3E");
	opacity: 0.7;
	pointer-events: none;
}

.time-input {
	display: flex;
	gap: 2.6rem;
	justify-content: center;

	height: var(--line-height);

	border: solid 1px black;
	border-radius: 0.5rem;

	&.disabled {
		border-color: var(--disabled-color);
	}
}

.scroll-container {
	height: calc(var(--line-height) * 3);
	margin-top: calc(var(--line-height) * -1);
	padding: var(--line-height) 0;
	overflow-y: scroll;
	scroll-snap-stop: always;
	scroll-snap-type: y mandatory;
	width: 48px;
	text-align: center;
	user-select: none;

	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	> div {
		line-height: var(--line-height);
		scroll-snap-align: end;
	}

	&[aria-disabled="true"] {
		color: var(--disabled-color);
		overflow-y: hidden;
	}
}

// Due to the design, together with the scroll snap, we
// need this padding element to allow the user to be able
// to scroll to the last element
.scroll-padding {
	content: '';
	height: var(--line-height);
}
