:host {
	--button-color:					var(--main);
	
	button {
		color:						var(--button-color);
		display:					block;
		font-family:				var(--font-family-primary);
		font-weight: 				700;
		font-size:					1rem;
		padding: 					0 1rem;
		margin:						auto;
		background-color:			transparent;
		cursor:						pointer;
	}

	&:hover {
		--button-color: var(--main-highlight);
	}
}