ul {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-family: var(--font-family-secondary);
}

.question {
	background-color: var(--background-color);
	border-radius: 0.5rem;
	padding: 0.7rem;
	min-height: 120px;

	display: flex;
	justify-content: space-between;
	gap: 0.5rem;

	.question-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.5rem;
		font-size: 0.9rem;

		> :first-child {
			font-weight: 700;
		}
	}

	.checkbox {
		height: 1rem;
		width: 1rem;
		border: 1px solid #0E0E0E;
		background-color: var(--background-white);
		flex-shrink: 0;
		align-self: flex-end;
		margin: 0.5rem 0;
		display: flex;
	}
}

li {
	position: relative;

	input {
		position: absolute;
		opacity: 0;
		
		// Firefox only pulls the minimum necessary height of the element
		// in focus into the viewport. To ensure the label is also
		// visible we make the input the same dimensions as the label
		height: 100%;
		width: 100%;

		cursor: pointer;
	}

	input:focus-visible + label {
		outline: auto;
	}

	input:not(.checked) + label {
		rcc-icon {
			display: none;
		}
	}

	input[disabled] {
		cursor: default;
	}

	input[disabled] + label {
		background-color: lightgrey;
		color: darkgray;
	}
}

.filter-inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

.search-input-container {
	position: relative;

	input {
		width: 100%;
	}

	rcc-icon {
		position: absolute;
		right: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

input[type="search"] {
	border: solid 1px var(--main);
	height: 4.5rem;
	padding: 0 1.5rem;

	&:focus-visible {
		outline: 2px solid var(--main);
	}
}
