:host {
	display:			block;
}

rcc-icon {
	vertical-align:		middle;
}

.container {
	align-items: 		center;
	justify-content: 	space-between;
	align-items:		center;
	background:			var(--supp);
	border-radius:		0.5rem;
	padding:			0.5rem;

	display: 			grid;
	row-gap:			0.1rem;
	column-gap:			0.5rem;
	grid-template-rows: 0.5rem 1fr;
	grid-template-columns: 1fr auto;
	grid-template-areas: "x top"
						 "left right";
}

button {
	align-items: center;
	background-color: transparent;
}

.info-button {
	display:			inline;
	--icon-size:		1rem;
	margin-left:		var(--horizontal-realignment);
	position:			absolute;
	left:				0;
	top:				0;

	--vertical-realignment: calc(var(--line-height) - calc(var(--icon-size) / 2) - calc(var(--click-target) / 2));
	margin-top:			var(--vertical-realignment);
}

.close-button {
	grid-area:			top;
	justify-self:		flex-end;
	--icon-size:		0.5rem;
	
	margin-right:		var(--horizontal-realignment);
}

.info-button,
.close-button {
	// The following is an alternative way of
	// adhering to the designs, whilst meeting
	// accessibility requirements. The designs
	// call for a close icon of 8px, but the
	// requirements are for at least 44px (android
	// recommends (48px)
	//
	// see here: https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
	//
	// Note this only works as the content below
	// the button has no click target. Should this
	// change this should be re-thought accordingly
	display:			inline-flex;
	justify-content:	center;
	--click-target:		3rem;
	border-radius:		calc(var(--click-target) / 2);
	height:				var(--click-target);
	width:				var(--click-target);
	z-index:			1;
	--horizontal-realignment:
						calc(calc(var(--icon-size) / 2) - calc(var(--click-target) / 2));

	rcc-icon {
		--icon-dimension:   var(--icon-size);
	}
}

.details {
	font-size:			0.9em;
	--line-height:		1.4em;
	line-height:		var(--line-height);
	grid-area:			left;
	font-family:		var(--font-family-secondary);
	text-indent: 		1.5rem;
	position:			relative;
}

.label .title {
	font-weight: 		bold;
}

.value {
	flex: 				0 0 auto;
	font-size: 			2em;
	line-height: 		1.33em;
	color: 				var(--main);
	grid-area:			right;
}

.list-item-container {
	display:			grid;
	gap:				1rem;
}

.toggle-button {
	background-color:	var(--supp-background);
	color:				var(--main);
	display:			block;
	width:				100%;
	display:			flex;
	justify-content:	space-between;
	padding-left:		1rem;
	padding-right:		0.5rem;

	height:				2rem;
	border-radius:		1rem;

	font-weight:		700;
	font-size:			0.8rem;
}

.toggle-button rcc-icon {
	color:				var(--rcc-text-dark);
}
