input {
	background-color: transparent;
	border: none;
	width: 100%;
	color: var(--main);
	font-size: 2rem;
	line-height: 2rem;
	height: 3rem;

	&::placeholder {
		font-family: var(--font-family-primary);
		color: var(--rcc-text-light);
	}

	@mixin show-border {
		border-bottom: solid 1px var(--rcc-text-dark);
		font-size: 1rem;
	}

	&:focus-visible {
		@include show-border;
	}

	&:placeholder-shown {
		@include show-border;
	}
}
