:host {	
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	z-index: 1000;
	
	button {
		background: var(--main);
		border-radius: 50%;
		padding: 1.25rem;
		box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

		&:hover {
			background: var(--main-highlight);
		}

		rcc-icon {
			--icon-stroke: var(--supp);
			stroke-width: 2;
		}
	}
}
