<rcc-monitoring-setup-modal-layout-small [formGroup]="formGroup">
	<div class="heading">
		<label>{{ 'QUESTIONNAIRE_EDITOR.REMINDER.LABEL' | translate }}</label>
		<rcc-toggle
            usage = "{{('QUESTIONNAIRE_EDITOR.REMINDER.LABEL' | translate)}}"
            formControlName="enabled"
        ></rcc-toggle>
	</div>
    <rcc-time-select
        [labelText]="'QUESTIONNAIRE_EDITOR.REMINDER.LABEL' | translate"
        class="form-control"
        formControlName="time"
    ></rcc-time-select>
</rcc-monitoring-setup-modal-layout-small>
