:host {
	container-type: inline-size;
}

input {
	font-family: var(--font-family-primary);
	border: solid 1px var(--main);
	--font-size: 3rem;
	font-size: var(--font-size);
	font-weight: 400;
	width: 100%;
	text-align: center;
	padding: 0.25rem;

	// This magic number is used to correct
	// the letter spacing so that the indentation
	// looks correct. If the font type should change
	// this number should be tweaked
	--approximate-character-width: calc(var(--font-size) / 1.5);


	// To calculate the letter spacing, we need to divide the
	// width of the container by the number of characters
	// plus one (i.e. if there are 4 characters, we divide
	// 100 by (4 + 1) = 100 / 5 = 20
	--lengthPlusOne: calc(var(--length) + 1);
	--dividedQueryWidth: calc(100cqw / var(--lengthPlusOne));
	--letter-spacing: calc(var(--dividedQueryWidth) - var(--approximate-character-width));
	letter-spacing: var(--letter-spacing);
	// This left indentation is needed to
	// correct for the desired letter spacing
	text-indent: var(--letter-spacing);

	// hide spinner buttons
	appearance: textfield;
	-moz-appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
