:host {
	font-family: var(--font-family-secondary);
	padding:  1.25rem;
}

rcc-icon {
	margin-bottom: .5rem;
}

button {
	justify-content: center;
	background-color: transparent;
	font-size: 1rem;
	color: var(--main);
	font-family: var(--font-family-primary);
	font-weight: 700;
	margin-top: 2rem;
}

h1 {
	margin: 0;
}

h1, .strong {
	font-weight: 600;
}

p {
	margin-top: 1rem;
	margin-bottom: 0;
}

ul {
	margin: 0;
}

h1, p, li {
	font-size: 0.8rem;
	line-height: 180%;
}
