<rcc-reduced-full-page
	[heading]				=		"'SETTINGS.HEADER'"
	[subHeading]			=		"label"
	[colorCategory]			=		"['primary'	, 'secondary']"
	[colorCategorySuffix]	=		"['start'	, 'end']"
	[buttonPlacement]		=		"'start'"
	[exitAction]			=		"'back'"
>
	<div class="settings-list">
		<ng-container *ngFor="let setting of settings | sortByPosition : 'entry'">
			<rcc-setting-group
				*ngIf="isGroup(setting)"
				[setting]="setting"
			></rcc-setting-group>


			<rcc-select-setting
				*ngIf="isSelect(setting)"
				class="setting-entry"
				[setting]="setting"
			></rcc-select-setting>

			<rcc-boolean-setting
				*ngIf="isBoolean(setting)"
				class="setting-entry"
				[setting]="setting"
			></rcc-boolean-setting>

			<rcc-time-setting
				*ngIf="isTime(setting)"
				class="setting-entry"
				[setting]="setting"
			></rcc-time-setting>

			<rcc-string-setting
				*ngIf="isString(setting)"
				class="setting-entry"
				[setting]="setting"
			></rcc-string-setting>

			<rcc-handler-setting
				*ngIf="hasHandler(setting)"
				class="setting-entry"
				[setting]="setting"
			></rcc-handler-setting>
		</ng-container>
	</div>
</rcc-reduced-full-page>
