<rcc-reduced-full-page
	[heading]				=		"'REPORT_STACKED_VIEW.PAGE.HEADING'"
	colorCategory			=		"analyze"
	[exitAction]			=		"'modal-dismiss'"
>

	<div headingContent>
		<rcc-segment
			[formControl]	= "dataViewScopeControl"
			[options]		= "dataViewScopeOptions"
		></rcc-segment>

		<div class="date-control">

			<span>{{ 'REPORT_STACKED_VIEW.FROM' | translate }}</span>
			<span class="start-date">{{ startDate | translate:dateFormat }}</span>
			<span>{{ 'REPORT_STACKED_VIEW.UNTIL' | translate }}</span>

			<rcc-date-picker
				[formControl]		= "dateControl"
				[highlightInterval]	= "calendarHighlightInterval"
				[latest]			= "initialEndDate"
			></rcc-date-picker>

		</div>
	</div>

	<div mainContent>
		<rcc-report-stacked-view
			[report] 			= "report"
			[dataViewScope] 	= "dataViewScopeControl.value"
			[startDate]			= "startDate 	| YYYY_MM_DD"
			[endDate]			= "endDate		| YYYY_MM_DD"
		></rcc-report-stacked-view>
	</div>
</rcc-reduced-full-page>
