<ion-grid class = "ion-no-padding">


	<!-- WORDING -->

	<ion-row *ngIf = "wordingControl.enabled"><ion-col>

		<ion-item>

			<ion-label
						position	= "stacked"
						[class]		= "'QUESTIONS.EDIT.WORDING' | toID:'rcc-e2e'"

						>{{ "QUESTIONS.EDIT.WORDING" | translate }}</ion-label>

			<ion-input
				[formControl]   = "wordingControl"
				[placeholder]   = "'QUESTIONS.EDIT.WORDING_PLACEHOLDER' | translate"
			></ion-input>

		</ion-item>

	</ion-col></ion-row>




	<!-- USE CUSTOM LABELS -->

	<ion-row><ion-col>

		<ion-item>

			<ion-label
				[class]		= "'BASIC_QUESTION_EDIT_WIDGETS.YES_NO.USE_CUSTOM_OPTIONS' | toID:'rcc-e2e'"
			>
				{{ "BASIC_QUESTION_EDIT_WIDGETS.YES_NO.USE_CUSTOM_OPTIONS" | translate }}
			</ion-label>

			<ion-checkbox
				[formControl] 	= "useCustomLabelControl"
				slot			= "end"
			></ion-checkbox>

		</ion-item>

	</ion-col></ion-row>




	<!-- OPTIONS -->

	<ng-container *ngIf = "optionControls.enabled">

		<ion-row class = "ion-padding"></ion-row>

		<ion-row><ion-col>

			<ion-item
				[button] 	= "true"
				(click)		= "addOption()"
				lines		= "full"
			>

				<ion-label
					[id]	= "'QUESTIONS.EDIT.OPTIONS.ADD' | toID:'rcc-e2e'"
				>
					{{ "QUESTIONS.EDIT.OPTIONS.ADD" | translate }}
			</ion-label>

				<ion-icon
					[name] 	= " 'add' | rccIcon"
					slot	= "end"
				></ion-icon>

			</ion-item>


		</ion-col></ion-row>


		<rcc-choice-option-item
			*ngFor             = "let optionControl of optionControls.controls"
			[formGroup]        = "optionControl"
			[optionValueType]  = "optionValueType"
			[showRemoveButton] = "true"
			(removeItem)       = "removeOption(optionControl)"
		></rcc-choice-option-item>

	</ng-container>

</ion-grid>
