
.button-cover,
.knobs,
.layer {
	inset: 0;
}

.toggle-button {
	position: relative;
	width: 32px;
	height: 16px;
	overflow: hidden;
	border: 1px #000 solid;

}

input:focus-visible + .knobs + .layer {
	outline: auto;
	outline-offset: -2px;
}


.toggle-button,
.toggle-button .layer {
	border-radius: 100px;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 210%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	position: absolute;
	z-index: 2;
}

.layer {
	position: absolute;
	width: 100%;
	background-color: #fff;
	transition: 0.2s ease all;
	z-index: 1;
}

.knobs:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 7px 7px;
	background-color: #fff;
	border: 1px #000 solid;
	border-radius: 50%;
	transition: 0.2s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .knobs:before {
	content: "";
	left: 15px;
	background-color: #fff;
}

.checkbox:checked ~ .layer {
	background-color: var(--main);
}

.knobs,
.knobs:before,
.layer {
	transition: 0.2s ease all;
}
