<rcc-full-page>

	<section mainContent>

		<rcc-scroll-to-top-button
			[colorCategory]	= "'secondary'"
		></rcc-scroll-to-top-button>

		<strong></strong><h4>
			{{'APPENDICES.FIRST_PAGE.TITLE' | translate}}
		</h4>

		<br>

		<p>
			{{'APPENDICES.FIRST_PAGE.APPENDIX_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.FIRST_PAGE.APPENDIX_2' | translate}}
		</p>

		<br>

		<br>

		<br>

		<br>

		<br>

		<br>


		<h4 style="text-align: center;font-weight:600">
			{{'APPENDICES.APPENDIX_1.TITLE' | translate}}
		</h4>

		<br>

		<h4>
			{{'APPENDICES.APPENDIX_1.1.TITLE' | translate}}
		</h4>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_1_A' | translate}}<strong>{{'APPENDICES.APPENDIX_1.1.1_1_B' | translate}}</strong>{{'APPENDICES.APPENDIX_1.1.1_1_C' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_2_A' | translate}}
		</p>

		<p style="text-align: center;"><font face="cursive">{{'APPENDICES.APPENDIX_1.1.1_2_B' | translate}}</font></p>

		<br>

		<p>
			{{'APPENDICES.APPENDIX_1.1.1_3_A' | translate}}<strong>{{'APPENDICES.APPENDIX_1.1.1_3_B' | translate}}</strong>{{'APPENDICES.APPENDIX_1.1.1_3_C' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_4_A' | translate}}<strong>{{'APPENDICES.APPENDIX_1.1.1_4_B' | translate}}</strong>{{'APPENDICES.APPENDIX_1.1.1_4_C' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_4_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_4_1_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_4_1_2' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_4_1_3' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_4_1_4' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.1.1_5' | translate}}
		</p>

		<br>
	<strong><h4>
		{{'APPENDICES.APPENDIX_1.2.TITLE' | translate}}
	</h4></strong>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_1' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_1' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_2' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_3' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_4' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_5' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_6' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_7' | translate}}
		</p>
		<p>
				{{'APPENDICES.APPENDIX_1.2.2_2_8_A' | translate}}<strong>{{'APPENDICES.APPENDIX_1.2.2_2_8_B' | translate}}</strong>{{'APPENDICES.APPENDIX_1.2.2_2_8_C' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.2.2_3' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.2.2_4_A' | translate}}<strong>{{'APPENDICES.APPENDIX_1.2.2_4_B' | translate}}</strong>{{'APPENDICES.APPENDIX_1.2.2_4_C' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_1.3.TITLE' | translate}}
		</h4></strong>
		<p>
			{{'APPENDICES.APPENDIX_1.3.3_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.3.3_2_A' | translate}}<a href="tel:{{'APPENDICES.APPENDIX_1.3.3_2_B' | translate}}">{{'APPENDICES.APPENDIX_1.3.3_2_B' | translate}}</a>{{'APPENDICES.APPENDIX_1.3.3_2_C' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.3.3_3_A' | translate}}<a href="mailto:{{'APPENDICES.APPENDIX_1.3.3_3_B' | translate}}">{{'APPENDICES.APPENDIX_1.3.3_3_B' | translate}}</a>{{'APPENDICES.APPENDIX_1.3.3_3_C' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.3.3_4' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.3.3_5' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_1.4.TITLE' | translate}}
		</h4></strong>
		<p>
			{{'APPENDICES.APPENDIX_1.4.4_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_1.4.4_2' | translate}}
		</p>

		<br>

	<strong><h4 style="text-align: center;font-weight:600">
		{{'APPENDICES.APPENDIX_2.TITLE' | translate}}
	</h4></strong>

	<br>

	<h4>
		{{'APPENDICES.APPENDIX_2.1.TITLE' | translate}}
	</h4>
	<p>
		{{'APPENDICES.APPENDIX_2.1.1_1_A' | translate}}
		{{'APPENDICES.APPENDIX_2.1.1_1_B' | translate}}
		{{'APPENDICES.APPENDIX_2.1.1_1_C' | translate}}
		{{'APPENDICES.APPENDIX_2.1.1_1_D' | translate}}
		{{'APPENDICES.APPENDIX_2.1.1_1_E' | translate}}
		{{'APPENDICES.APPENDIX_2.1.1_1_F' | translate}}
		{{'APPENDICES.APPENDIX_2.1.1_1_G' | translate}}
	</p>
	<p>
		{{'APPENDICES.APPENDIX_2.1.1_2_A' | translate}}<strong>{{'APPENDICES.APPENDIX_2.1.1_2_B' | translate}}</strong>{{'APPENDICES.APPENDIX_2.1.1_2_C' | translate}}
	</p>
	<br>
	<strong><h4>
		{{'APPENDICES.APPENDIX_2.2.TITLE' | translate}}
	</h4></strong>
	<p>
		{{'APPENDICES.APPENDIX_2.2.2_1' | translate}}
	</p>
	<p>
		{{'APPENDICES.APPENDIX_2.2.2_2_A' | translate}}	</p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_2.2.2_2_B' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_2.2.2_2_C' | translate}}
				<ul>
					<li>
						{{'APPENDICES.APPENDIX_2.2.2_2_C_A' | translate}}
					</li>
					<li>
						{{'APPENDICES.APPENDIX_2.2.2_2_C_B' | translate}}
					</li>
				</ul>
			</li>
			<li>
				{{'APPENDICES.APPENDIX_2.2.2_2_D' | translate}}
			</li>
		</ul>
		<p>
			{{'APPENDICES.APPENDIX_2.2.2_3' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.2.2_4' | translate}}
		</p>
	<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.3.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.3.3_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.3.3_2' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.3.3_3' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.4.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.4.4_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.4.4_2' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.4.4_3' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.4.4_4' | translate}}
		</p>
		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.5.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.5.5_1' | translate}}
		</p>

		<p>
			{{'APPENDICES.APPENDIX_2.5.5_2' | translate}}
		</p>
		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.6.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.6.6_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.6.6_2_A' | translate}}<strong>{{'APPENDICES.APPENDIX_2.6.6_2_B' | translate}}</strong>{{'APPENDICES.APPENDIX_2.6.6_2_C' | translate}}
		</p>
		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.7.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.7.7_1' | translate}}
		</p>
		<table>
			<tr>
				<th style="font-weight: 600;">			{{'APPENDICES.APPENDIX_2.7.7_1_A' | translate}}
				</th>
				<th style="font-weight: 600;">
					{{'APPENDICES.APPENDIX_2.7.7_1_B' | translate}}
				</th>
			</tr>
			<tr>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_C' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_D' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_E' | translate}}
				</th>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_F' | translate}}
				</th>
			</tr>
			<tr>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_G' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_H' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_I' | translate}}
				</th>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_J' | translate}}
				</th>
			</tr>
			<tr>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_K' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_L' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_M' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_M_2' | translate}}
				</th>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_N' | translate}}
				</th>
			</tr>
			<tr>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_O' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_P' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_Q' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_R' | translate}}
				</th>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_S' | translate}}
				</th>
			</tr>
			<tr>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_T' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_U' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_V' | translate}}
				</th>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_W' | translate}}
				</th>
			</tr>
			<tr>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_Y' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_Z' | translate}}
					<br>
					{{'APPENDICES.APPENDIX_2.7.7_1_AA' | translate}}
				</th>
				<th>
					{{'APPENDICES.APPENDIX_2.7.7_1_AB' | translate}}
				</th>
			</tr>
		</table>

		<p>
			{{'APPENDICES.APPENDIX_2.7.7_1_X' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.7.7_2' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.7.7_3' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.7.7_4' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.8.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.8.8_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.8.8_2' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.8.8_3' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.8.8_4' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.8.8_5' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.9.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.9.9_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.9.9_2' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.10.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.10.10_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.10.10_2' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.11.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.11.11_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.11.11_2' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.11.11_3' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.11.11_4' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.11.11_5' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.11.11_6' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.11.11_7' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.12.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.12.DESCRIPTION' | translate}}
		</p>
		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.13.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.13.13_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.13.13_2' | translate}}
		</p>

		<br>

		<strong><h4>
			{{'APPENDICES.APPENDIX_2.14.TITLE' | translate}}
		</h4></strong>

		<p>
			{{'APPENDICES.APPENDIX_2.14.14_1' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.14.14_2' | translate}}
		</p>
		<p>
			{{'APPENDICES.APPENDIX_2.14.14_3' | translate}}
		</p>

		<br>

			<h4 style="text-align: center;font-weight:600">
			{{'APPENDICES.APPENDIX_3.TITLE_1' | translate}}
			<br>
			{{'APPENDICES.APPENDIX_3.TITLE_2' | translate}}
			<br>
			{{'APPENDICES.APPENDIX_3.TITLE_3' | translate}}
			</h4>
			<p></p>

		<br>

		<p>
			{{'APPENDICES.APPENDIX_3.DESCRIPTION_1' | translate}}
			{{'APPENDICES.APPENDIX_3.DESCRIPTION_2' | translate}}
		</p>

		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.ONE.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.ONE.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_4' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_5' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_6' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_7' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.ONE.BULLET_POINT_8' | translate}}</li>
		</ul>
		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.2.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.2.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.2.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.2.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.2.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.2.BULLET_POINT_4' | translate}}</li>
		</ul>
		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.3.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.3.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_4' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_5' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_6' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_7' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_8' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.3.BULLET_POINT_9' | translate}}</li>
		</ul>

		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.4.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.4.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.4.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.4.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.4.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.4.BULLET_POINT_4' | translate}}</li>
		</ul>

		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.5.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.5.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.5.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.5.BULLET_POINT_2' | translate}}</li>
		</ul>

		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.6.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.6.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_4' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_5' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_6' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_7' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_8' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_9' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_10' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_11' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_12' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_13' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_14' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_15' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_16' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_17' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_18' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_19' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_20' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_21' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_22' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_23' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_24' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_25' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_26' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_27' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_28' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_29' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_30' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_31' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_32' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_33' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_34' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_35' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_36' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_37' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_38' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_39' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_40' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_41' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_42' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_43' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_44' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_45' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_46' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_47' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_48' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_49' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.6.BULLET_POINT_50' | translate}}</li>
		</ul>
		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.7.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.7.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_4' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_5' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_6' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_7' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_8' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_9' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_10' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_11' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_12' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_13' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_14' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_15' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_16' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_17' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_18' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_19' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.7.BULLET_POINT_20' | translate}}</li>
		</ul>
		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.8.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.8.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_4' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_5' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_6' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_7' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_8' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_9' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_10' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_11' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.8.BULLET_POINT_12' | translate}}</li>
		</ul>
		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.9.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.9.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_4' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_5' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_6' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_7' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_8' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_9' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_10' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_11' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_12' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_13' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.9.BULLET_POINT_14' | translate}}</li>
		</ul>

		<br>

		<h4>
			{{'APPENDICES.APPENDIX_3.10.TITLE' | translate}}
		</h4>
		<p><em>
			{{'APPENDICES.APPENDIX_3.10.DESCRIPTION' | translate}}
		</em></p>
		<ul>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_1' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_2' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_3' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_4' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_5' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_6' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_7' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_8' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_9' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_10' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_11' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_12' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_13' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_14' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_15' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_16' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_17' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_18' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_19' | translate}}</li>
			<li>{{'APPENDICES.APPENDIX_3.10.BULLET_POINT_20' | translate}}</li>
		</ul>
		<br>

	</section>

</rcc-full-page>
