<rcc-full-page>

	<section mainContent [colorCategory]="'secondary'">


		<h1>
			{{'IMPRINT.TITLE' | translate}}
		</h1>

		<p>
			<b>{{'IMPRINT.COMPANY' | translate}}</b>
			<br>

			{{'IMPRINT.ADDRESS' | translate}}
			<br>

			{{'IMPRINT.CITY' | translate}}

			<a class="imprint-contact-links discreet-link" [href]="'tel:' + ('IMPRINT.PHONE' | translate)">{{'IMPRINT.PHONE' | translate }}</a>

			<a class="imprint-contact-links email-link" [href]="'mailto:' + ('IMPRINT.CONTACT_EMAIL' | translate)">{{'IMPRINT.CONTACT_EMAIL' | translate }}</a>
		</p>

		<p>
			<b>{{'IMPRINT.MANAGING_DIRECTORS_TITLE' | translate}}</b>:
			{{'IMPRINT.MANAGING_DIRECTORS' | translate}}
			<br>
			<b>{{'IMPRINT.COMPANY_REGISTRATION_TITLE' | translate}}</b>:
			{{'IMPRINT.COMPANY_REGISTRATION' | translate}}
		</p>

		<h2>
			<b>{{'IMPRINT.USAGE_TITLE' | translate}}</b>
		</h2>

		<p>
			{{'IMPRINT.USAGE' | translate}}
		</p>

	</section>

</rcc-full-page>
