button {
	display:					block;
	margin:						auto;
	color:						var(--main-contrast);
	background-color:			transparent;
	cursor:						pointer;
	--icon-fill:				var(--main);
}

:host:hover rcc-icon {
	--icon-fill: 				var(--main-highlight);
}

:host button:disabled {
	cursor: not-allowed;
}

:host button:disabled rcc-icon {
	--icon-fill: 				var(--supp);
}