<rcc-monitoring-setup-modal-layout-large
    [formGroup]="formGroup"
    [mainHeading]="'QUESTIONNAIRE_EDITOR.%s.HEADING' | fill:category | translate"
    [subHeading]="'QUESTIONNAIRE_EDITOR.EDIT_QUESTION_SUB_HEADING' | translate"
	[transformSubmissionData]="transformSubmissionData"
    colorCategory="create"
>
	<rcc-edit-text
		formControlName="questionTitle"

		[inputLabel]	=	"'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.LABEL' | translate"
		[editLabel]		=	"'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.EDIT' | translate"
		[doneLabel]		=	"'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.DONE' | translate"
		[placeholder]	=	"'QUESTIONNAIRE_EDITOR.QUESTION_TITLE.PLACEHOLDER' | translate"

		[displayValue]	=	"questionTitleDisplayValue"
		colorCategory="create"
	></rcc-edit-text>

	<rcc-pull-down-select
		[formControl]		=	"questionTypeControl"
		[comboboxLabel]		=	"'QUESTIONNAIRE_EDITOR.CHOOSE_QUESTION_TYPE' | translate"
		[unselectedText]	=	"'QUESTIONNAIRE_EDITOR.CHOOSE_QUESTION_TYPE' | translate"
		[options]			=	"questionTypeOptions"
		[filterFn]			=	"null"
	></rcc-pull-down-select>

    <rcc-monitoring-setup-option-editor
		*ngIf="formGroup.get('options').value.length"
        formControlName="options"
    ></rcc-monitoring-setup-option-editor>
	<rcc-edit-text
		*ngIf="showUnitInput"
		formControlName="unitText"
		[placeholder]="'QUESTIONNAIRE_EDITOR.UNIT_PLACEHOLDER' | translate"
	></rcc-edit-text>
	<rcc-widget *ngIf="showWidget" [widgetControl]="widgetControl" disabled="true"></rcc-widget>

    <div class="schedule-select">
        <button class="schedule-button" type="button" (click)="editSchedule()">
            <span *ngIf="!formGroup.get('schedule').value; else scheduleText">{{ 'QUESTIONNAIRE_EDITOR.INDIVIDUAL_SCHEDULE' | translate }}</span>
            <ng-template #scheduleText>
                <span>{{ formGroup.get('schedule').value | translate }}</span>
            </ng-template>
        </button>
        <rcc-toggle [formControl]="toggleScheduleControl" (click)="toggleEditSchedule()"></rcc-toggle>
    </div>

	<div afterForm>
		<rcc-action-button
			[action]		=	"switchToQuestionListAction"
			buttonSize		=	"medium"
			colorCategory	=	"create"
		>
		</rcc-action-button>
	</div>
</rcc-monitoring-setup-modal-layout-large>
