:host {
	overflow-y: auto;
	height: 100%;

	.container {
		max-width: var(--rcc-content-width);
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: auto 1fr;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem;
			height: 6rem;

			h1 {
				width: fit-content;
				font-weight: 700;
				font-size: 1.5rem;
				text-align: left;
			}
			.sub-heading {
					font-weight: 400;
					font-size: 1rem;
					font-family: var(--font-family-secondary);
				}


			button {
				background: transparent;
				--icon-stroke: var(--main);
			}

			button:hover {
				--icon-stroke: var(--main-highlight);
			}
		}

		main {
			background: linear-gradient(var(--supp), var(--supp-gradientBottom));
			padding: 1.5rem;

			.explanation {
				padding-bottom: 1.5rem;
				color: var(--rcc-text-light);
			}
		}
	}
}
