<div class="main-menu-container" [ngClass]="{ 'open': isOpen$ | async }">
	<div class="menu-backdrop" (click)="closeDialog()"></div>
	<div
		tabTrap
		role="dialog"
		#dialogBody
		(keydown.escape)="closeDialog()"
		[attr.aria-label]="'MAIN_MENU.LABEL' | translate"
		[attr.inert]="(isOpen$ | async) ? null : ''"
	>
		<div class="dialog-header">

			<rcc-action-button
				id				="main-menu-dialog-close-button"
				[action]		="closeAction"
				buttonSize		="small"
				colorCategory	="secondary"
			>
			</rcc-action-button>

		</div>

		<nav>
			<ul class = "regular-entries">

				<ng-container *ngFor="let action of actions | sortByPosition">

					<li *ngIf="isHandlerAction(action) || isPathAction(action) || isDownloadAction(action)">
						<rcc-main-menu-entry [action]="action" (entryClicked)="closeDialog()"></rcc-main-menu-entry>
					</li>

				</ng-container>

			</ul>

			<ul class = "meta-entries">

				<ng-container *ngFor="let action of metaActions | sortByPosition">

					<li *ngIf="isHandlerAction(action) || isPathAction(action)">
						<rcc-main-menu-entry [action]="action" (entryClicked)="closeDialog()"></rcc-main-menu-entry>
					</li>

				</ng-container>

			</ul>


		</nav>
	</div>
</div>
