rcc-main-menu-body {

	:host {
		z-index: 				102;
		position: 				fixed;
		display:				block;
	}

	.main-menu-container {
		[role="dialog"] {
			width:				min-content;
			position: 			fixed;
			top: 				0;
			bottom: 			0;
			right:				0;
			transform:			translateX(100%);
			background-color: 	white;
			font-family: 		var(--font-family-primary);
			font-weight: 		700;
			font-size: 			0.8rem;

			transition: 		transform 0.2s;
			padding: 			1.5rem;
			padding-bottom: 	2.5rem;

			display:			grid;
			grid-template-rows: auto 1fr;

			.dialog-header {
				display: 			flex;
				justify-content: 	flex-end;

				button {
					background-color: 	transparent;
				}

				rcc-action-button {
					--icon-stroke: var(--main);
				}

				rcc-action-button:hover {
					--icon-stroke: var(--main-highlight);
				}

				rcc-action-button ::ng-deep button {
					background-color: 	transparent;
				}

				rcc-action-button ::ng-deep rcc-icon {
					--icon-dimension: 1.5rem;
				}
			}

			nav {
				display: 				flex;
				flex-direction: 		column;
				justify-content:		space-between;
			}

			ul {
				flex: 					0 0 auto;
				list-style: 			none;
				padding: 				0;

				li {
					margin-bottom: 		2rem;
					margin-left: 		2rem;
					margin-right: 		2rem;
				}
			}

			.meta-entries {

				li{
					margin-bottom: 		0.5rem;
				}

				rcc-main-menu-entry {
					margin-top:				0.25rem;
					margin-bottom:			0.25rem;

					rcc-icon {
						visibility:			hidden!important;
					}
					a,button  {
						justify-content:		start;
					}
				}
			}



		}
	}

	.main-menu-container.open {
		.menu-backdrop {
			position:			fixed;
			background-color:	#444343;
			opacity:			0.3;
			top:				0;
			bottom:				0;
			left:				0;
			right:				0;
			z-index:			1;
		}

		[role="dialog"] {
			transform:			translateX(0);
			z-index:			103;
			overflow:			auto;
		}
	}

}
